Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

[docs] Update doc forking instructions for new points
  general/documentation/forking-versions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add provisional dates for 5.x series
  data/versions.json
  general/releases/5.2.md
  general/releases/5.3.md
  src/components/SupportedReleases/index.tsx
  src/utils/SupportedReleases.ts
  static/schema/versions.json
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Update references to 4.3
  static/_redirects
  versioned_docs/version-4.4/devupdate.md
  versions.json
  versionsArchived.json
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document versioned docs removal
  general/documentation/forking-versions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update 4.5.md bumping MySQL version
  general/releases/4.5.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDLSITE-7941 MDLSITE-7956: Improve waffle menu title and top bar site indication
  src/theme/Navbar/index.js
  src/theme/Navbar/index.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress

#1339 Improve description of contextlevel in capability declaration
  docs/apis/subsystems/access.md
  versioned_docs/version-4.1/apis/subsystems/access.md
  versioned_docs/version-4.4/apis/subsystems/access.md
  versioned_docs/version-4.5/apis/subsystems/access.md
  versioned_docs/version-5.0/apis/subsystems/access.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix imports in External Services examples
  docs/apis/subsystems/external/functions.md
  docs/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix imports in External Services examples
  docs/apis/subsystems/external/functions.md
  docs/apis/subsystems/external/writing-a-service.md
  versioned_docs/version-4.4/apis/subsystems/external/functions.md
  versioned_docs/version-4.4/apis/subsystems/external/writing-a-service.md
  versioned_docs/version-4.5/apis/subsystems/external/functions.md
  versioned_docs/version-4.5/apis/subsystems/external/writing-a-service.md
  versioned_docs/version-5.0/apis/subsystems/external/functions.md
  versioned_docs/version-5.0/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Provide full example for Forms API
  docs/apis/subsystems/form/index.md
  versioned_docs/version-4.1/apis/subsystems/form/index.md
  versioned_docs/version-4.4/apis/subsystems/form/index.md
  versioned_docs/version-4.5/apis/subsystems/form/index.md
  versioned_docs/version-5.0/apis/subsystems/form/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update repo update script for 500 branch
  versioned_docs/version-5.0/guides/git/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.mdx
  general/projects/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

Fix typo
  versioned_docs/version-4.5/guides/javascript/reactive/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix typo in code example
  versioned_docs/version-4.5/guides/javascript/reactive/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add initial accessibility statement for Docs
  general/documentation/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Minor correction to class name
  versioned_docs/version-4.5/apis/subsystems/question/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update moodleorg.md moderator's list updated to include all current moderators.
  general/community/credits/moodleorg.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update moodleorg.md unlinked hidden courses
  general/community/credits/moodleorg.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

Update moodleorg.md removed links to hidden courses
  general/community/credits/moodleorg.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update moodleorg.md forgot to hide Norsk Moodle
  general/community/credits/moodleorg.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Grant ownership of general docs to community
  CODEOWNERS
Due: none

Accessibility statement based on the moodle.org Accessibility statement (MDLSITE-8064)
  general/documentation/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Changed asterisk bullet points to dashes and removed space at end.
  general/documentation/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

surrounding list by blank lines
  general/documentation/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump to Docusaurus 3.8
  docusaurus.config.js
  package.json
  src/components/HomepageFeatures/styles.module.css
  yarn.lock
Due: stylelint --allow-empty-input --fix, eslint --fix

[repo] Fix lint failures
  docs/apis/core/reportbuilder/index.md
  versioned_docs/version-4.4/apis/core/reportbuilder/index.md
  versioned_docs/version-4.5/apis/core/reportbuilder/index.md
  versioned_docs/version-5.0/apis/core/reportbuilder/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Fix Node versions in Actions
  .github/workflows/fetch-obsolete-pages.yml
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/test-deploy.yml
  .github/workflows/update-moodle-metadata.yml
  .github/workflows/update-wikimedia.yml
Due: none

[docs] max sections deprecation
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] max sections deprecation
  docs/apis/plugintypes/format/index.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-85316 Adding Aurora MySQL version
  general/releases/4.5.md
  general/releases/5.0.md
  general/releases/5.1.md
  general/releases/5.2.md
  general/releases/5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 5.0.1 and friends
  data/versions.json
  general/_releases/5000_release_graph.png
  general/_releases/5001_release_graph.png
  general/releases.md
  general/releases/4.1/4.1.19.md
  general/releases/4.4/4.4.9.md
  general/releases/4.5/4.5.5.md
  general/releases/5.0/5.0.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Updating how to maximize the chance of your idea being implemented
  general/community/contribute.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Combining sections sections 'What to do if you cannot access any part of this website' and 'Questions, comments and suggestions'
  general/documentation/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Title change and note added with pointer to existing Accessibility page
  general/documentation/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
