Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ]
}

[repo] Add bulk importer
  package.json
  scripts/migration/phases/05-wikilinks/rule.js
  scripts/utils.js
  scripts/wikimedia-fetch.js
  yarn.lock
Due: eslint --fix

[repo] Various migration script fixes
  scripts/migration/phases/01-codeblocks/rule.js
  scripts/migration/phases/02-lists/rule.js
  scripts/migration/phases/05-wikilinks/rule.js
  scripts/migration/phases/10-noinclude/.markdownlint-cli2.cjs
  scripts/migration/phases/10-noinclude/rule.js
  scripts/migration/phases/12-admonition/.markdownlint-cli2.cjs
  scripts/migration/phases/12-admonition/rule.js
  scripts/migration/phases/20-tables/migrate-table.mjs
  scripts/migration/phases/20-tables/rule.js
  scripts/wikimedia-sync.js
Due: eslint --fix

[repo] Add release notes sidebar
  config/footer.js
  sidebars/docs.js
  sidebars/general.js
  sidebars/releaseNotes.js
Due: eslint --fix

[reop] Add version headers
  data/supportedVersions.json
  docs/gettingstarted/quickstart.md
  docusaurus.config.js
  src/plugins/moodle-versions.js
  src/remark/moodleBanner.js
  src/theme/DraftPageBanner/index.js
  src/theme/MoodlePageBanner/index.js
  src/theme/UnsupportedVersionBanner/index.js
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Add scripts to help pull in release notes en bulk
  scripts/releases/add-translation-header.mjs
  scripts/releases/fetchReleaseNotes.sh
  scripts/releases/stripFullPageName.sh
Due: eslint --fix

[docs] Fix coding style typography
  general/development/policies/codingstyle/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Put plugin names into separate spell list
  cspell.config.js
  data/plugin-names.txt
Due: eslint --fix

[repo] Include React-Player for video links
  .markdownlint-cli2.cjs
  package.json
  yarn.lock
Due: none

[repo] Prepare for bulk import of release notes
  cspell.config.js
  docs/release-notes.md
  project-words.txt
  src/pages/versions.tsx
  versioned_sidebars/version-4.0-sidebars.json
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrate releases docs
  .lintstagedrc.json
  .markdownlint-cli2.cjs
  data/migratedPages.yml
  data/supportedVersions.json
  data/versions.json
  docusaurus.config.js
  general/_releases/401_release_graph.png
  general/community/intro.md
  general/community/roadmap.md
  general/development/policies/deprecation.md
  general/development/process.md
  general/development/process/release.md
  general/development/process/translation/langpack/priority.md
  general/development/process/triage.md
  general/releases.md
  general/releases/3.11/3.11.8.md
  general/releases/3.4.md
  general/releases/3.9/3.9.15.md
  general/releases/4.0/4.0.2.md
  package.json
  scripts/migration/phases/20-tables/migrate-table.mjs
  sidebars/docs.js
  sidebars/releaseNotes.js
  src/components/ReleaseTable/index.tsx
  src/components/SupportedReleases/index.tsx
  src/components/SupportedReleases/styles.module.css
  src/plugins/moodle-versions.js
  src/theme/UnsupportedVersionBanner/index.js
  src/utils/SupportedReleases.ts
  static/schema/versions.json
  yarn.lock
Due: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Lint all mdx files
  .lintstagedrc.json
  .markdownlint/mdx/.markdownlint-cli2.cjs
  .markdownlint/mdx/fix/.markdownlint-cli2.cjs
  docs/apis/_files/amd-dir.mdx
  docs/apis/_files/backup-dir.mdx
  docs/apis/_files/changes.mdx
  docs/apis/_files/classes-dir.mdx
  docs/apis/_files/cli-dir.mdx
  docs/apis/_files/db-access-php.mdx
  docs/apis/_files/db-events-php.mdx
  docs/apis/_files/db-install-php.mdx
  docs/apis/_files/db-install-xml.mdx
  docs/apis/_files/db-messages-php.mdx
  docs/apis/_files/db-mobile-php.mdx
  docs/apis/_files/db-renamedclasses-php.mdx
  docs/apis/_files/db-services-php.mdx
  docs/apis/_files/db-uninstall-php.mdx
  docs/apis/_files/db-upgrade-php.mdx
  docs/apis/_files/environment-xml.mdx
  docs/apis/_files/lib.mdx
  docs/apis/_files/locallib.mdx
  docs/apis/_files/pix-dir.mdx
  docs/apis/_files/readme.mdx
  docs/apis/_files/readme_moodle-txt.mdx
  docs/apis/_files/settings-php.mdx
  docs/apis/_files/styles-css.mdx
  docs/apis/_files/thirdpartylibs-xml.mdx
  docs/apis/_files/upgrade-php.mdx
  docs/apis/_files/version-php.mdx
  docs/apis/_files/yui-dir.mdx
  docs/apis/commonfiles/index.mdx
  docs/apis/plugintypes/antivirus/_files/scanner-php.mdx
  docs/apis/plugintypes/antivirus/index.mdx
  docs/apis/plugintypes/mod/_files/index-php.mdx
  docs/apis/plugintypes/mod/_files/mod_form-php.mdx
  docs/apis/plugintypes/mod/_files/view-php.mdx
  docs/apis/plugintypes/mod/index.mdx
  general/projects/api/amos.md
  package.json
  project-words.txt
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Fix roadmap issues
  general/community/roadmap.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrate plugintypes/format docs
  data/migratedPages.yml
  docs/apis/plugintypes/format/_examples/format.php
  docs/apis/plugintypes/format/_examples/format_lang.php
  docs/apis/plugintypes/format/_examples/lib.php
  docs/apis/plugintypes/format/_examples/lib_components.php
  docs/apis/plugintypes/format/_examples/lib_course_index.php
  docs/apis/plugintypes/format/_examples/output/cmitem.mustache
  docs/apis/plugintypes/format/_examples/output/cmitem.php
  docs/apis/plugintypes/format/_examples/output/content.mustache
  docs/apis/plugintypes/format/_examples/output/content.php
  docs/apis/plugintypes/format/_examples/output/renderer.php
  docs/apis/plugintypes/format/_examples/output/section.mustache
  docs/apis/plugintypes/format/_examples/output/section.php
  docs/apis/plugintypes/format/_examples/pluginskel_recipe.yaml
  docs/apis/plugintypes/format/_examples/renderer.php
  docs/apis/plugintypes/format/_files/course_editor_workflow.png
  docs/apis/plugintypes/format/_files/course_format_output.png
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/format/migration.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Remove erroneously left console.log
  src/theme/UnsupportedVersionBanner/index.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[repo] Add Netlify support
  docusaurus.config.js
  netlify.toml
  package.json
  yarn.lock
Due: eslint --fix

[docs] Migrate process-related docs
  data/migratedPages.yml
  general/development/process.md
  general/development/process/integration-review.md
  general/development/process/integration/_clr/clrworkflow.png
  general/development/process/integration/clr.md
  general/development/process/release.md
  general/development/process/release/docsrequiredissues.md
  general/development/process/release/newuserdocs.md
  general/development/process/security.md
  general/development/process/security/penetration-testing.md
  general/development/tracker/guide.md
  project-words.txt
  sidebars/general.js
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

Update tracker.md
  general/development/tracker.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Always use / for netlify
  docusaurus.config.js
Due: eslint --fix

[docs] Create Developer quick start and Contribute pages
  config/navbar.js
  data/migratedPages.yml
  docs/gettingstarted/quickstart.md
  docs/moodleapp/development/testing/acceptance-testing.md
  general/community/contribute.md
  general/development/gettingstarted.md
  general/development/process/testing/integrated-issues.md
  project-words.txt
  sidebars/docs.js
  sidebars/general.js
  src/components/HomepageFeatures/index.js
  src/pages/index.js
  versioned_docs/version-4.0/gettingstarted/quickstart.md
  versioned_docs/version-4.0/gettingstarted/setup.md
  versioned_docs/version-4.0/guides/javascript/index.md
  versioned_docs/version-4.0/release-notes.md
  versioned_docs/version-4.0/tools/mdk.md
  versioned_docs/version-4.0/tools/nodejs.md
  versioned_docs/version-4.0/tools/phpcs.md
  versioned_sidebars/version-4.0-sidebars.json
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Upgrade to Docusaurus 2.0.0-beta.21
  package.json
  yarn.lock
Due: none

[repo] Update docusaurus configuration
  docusaurus.config.js
Due: eslint --fix

[repo] Fix docs for beta.21 upgrade
  general/community/intro.md
  general/development/index.md
  general/documentation/code-of-conduct.md
  general/documentation/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Document the process of upgrading Docusaurus
  UPGRADING.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[docs] Migrate old Groups docs and add Drafts placeholder
  data/migratedPages.yml
  docs/apis/subsystems/_groups/groupsdb.png
  docs/apis/subsystems/groups.md
  general/releases/1.9.md
  general/releases/1.9/1.9.3.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrate Coding page as Policies index
  data/migratedPages.yml
  general/community/intro.md
  general/development/policies.md
  general/development/policies/codingstyle/index.md
  general/development/policies/security/bruteforcing-login.md
  general/development/policies/security/bufferoverruns.md
  general/development/policies/security/commandline-injection.md
  general/development/policies/security/configinfo-leakage.md
  general/development/policies/security/crosssite-request-forgery.md
  general/development/policies/security/crosssite-scripting.md
  general/development/policies/security/dataloss.md
  general/development/policies/security/dos.md
  general/development/policies/security/index.md
  general/development/policies/security/info-leakage.md
  general/development/policies/security/insecure-config.md
  general/development/policies/security/session-fixation.md
  general/development/policies/security/socialengineering.md
  general/development/policies/security/sql-injection.md
  general/development/policies/security/unauthenticated-access.md
  general/development/policies/security/unauthorised-access.md
  general/development/process.md
  general/development/tools/phpcs.md
  sidebars/general.js
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Code of Conduct proposal
  general/documentation/code-of-conduct.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Add Code of Conduct more promintently
  config/footer.js
Due: eslint --fix

[docs] Reactive UI guide
  docs/guides/javascript/index.md
  docs/guides/javascript/reactive/_files/basic_classes.svg
  docs/guides/javascript/reactive/_files/lifecycle_hooks.svg
  docs/guides/javascript/reactive/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

Update docs/guides/javascript/reactive/index.md
  docs/guides/javascript/reactive/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrate Analytics API guide
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/analytics/_index/Analytics_API_classes_diagram_(summary).svg
  docs/apis/subsystems/analytics/_index/Inspire_API_components.png
  docs/apis/subsystems/analytics/_index/Inspire_data_flow.png
  docs/apis/subsystems/analytics/index.md
  scripts/wikimedia-fetch.js
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrate mlbackend docs over
  data/migratedPages.yml
  docs/apis/plugintypes/mlbackend/index.md
  docs/apis/subsystems/analytics/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] general/process: Centre release process cells
  general/development/process/release.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] general/process: Add apidoc build changes
  general/development/process/release.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrade Upgrade notes page
  data/migratedPages.yml
  docs/apis/_files/index.tsx
  docs/apis/_files/upgrade-txt.mdx
  docs/apis/_files/upgrade-txt.tsx
  docs/apis/commonfiles/index.mdx
Due: eslint --fix

[docs] Enrolment plugins
  data/migratedPages.yml
  docs/apis.md
  docs/apis/plugintypes/enrol/_examples/access.php
  docs/apis/plugintypes/enrol/_examples/enrol_lang.php
  docs/apis/plugintypes/enrol/_examples/lib.php
  docs/apis/plugintypes/enrol/_examples/message_lib.php
  docs/apis/plugintypes/enrol/_examples/ui_lib.php
  docs/apis/plugintypes/enrol/index.md
  docs/apis/subsystems/access.md
  docs/apis/subsystems/enrol.md
  general/releases/1.6.md
  general/releases/1.9/1.9.3.md
  general/releases/3.1.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Javascript: Add some metadata
  docs/guides/javascript/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

Update docs/guides/javascript/index.md
  docs/guides/javascript/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress
