Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

MDL-87987 [docs] add React Profiler guide for dev-mode mounting
  docs/guides/javascript/react/profiler.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add agent instructions to assist with backporting features
  .github/agents/backport-docs.agent.md
  .github/copilot-instructions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

configuration.js default export requires eslint rule
  docs/apis/plugintypes/tiny/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Backport configuration.js default export requires eslint rule to all versions
  versioned_docs/version-4.1/apis/plugintypes/tiny/index.md
  versioned_docs/version-4.4/apis/plugintypes/tiny/index.md
  versioned_docs/version-4.5/apis/plugintypes/tiny/index.md
  versioned_docs/version-5.0/apis/plugintypes/tiny/index.md
  versioned_docs/version-5.1/apis/plugintypes/tiny/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add documentation on the new design system
  CODEOWNERS
  config/navbar.js
  general/designsystem/faq.md
  general/designsystem/getting-started.md
  general/designsystem/overview.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix broken links in markdown
  docs/guides/testing/index.md
  general/development/policies/codingstyle/index.md
  general/releases/3.11.md
  general/releases/3.4.md
  versioned_docs/version-5.1/guides/testing/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update Workplace files to be better organised
  data/workplace/versions.json
  general/workplace/releases/_index/1680px-workplace_releases_timeline.png
  general/workplace/releases/index.md
  scripts/wp_version.mjs
  sidebars/general.js
  src/components/Workplace/ReleaseTable/index.tsx
  src/components/Workplace/SupportedReleases/index.tsx
  src/components/Workplace/SupportedReleases/styles.module.css
  src/components/Workplace/index.tsx
  src/utils/Workplace/SupportedReleases.ts
  static/schema/workplace/versions.json
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Give Workplace team ownership of workplace content
  CODEOWNERS
Due: none

Add latest 4.5 minor and missing wp release notes
  data/workplace/versions.json
Due: none

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Added initial docs for Composer-installed plugin guidance
  docs/_utils.tsx
  docs/apis/_files/composer-json.mdx
  docs/apis/_files/composer-json.tsx
  docs/apis/_files/index.tsx
  docs/apis/commonfiles/index.mdx
  docs/guides.md
  docs/guides/composer/index.md
  src/components/ComponentFileSummary.tsx
Due: eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add unserialize() method to danger list.
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Improve WP release periods
  src/components/Workplace/ReleaseTable/index.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress

[general] Add March 2026 community dev meeting
  general/community/meetings/2026/03.md
  general/community/meetings/2026/_category_.yml
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

AE-87 [docs] Frontend development with ESM
  docs/guides/frontend/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Bump 5.2 release minimum database versions (postgresql, mssql)
  general/releases/5.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Propagate Moodle 5.2 database minimum requirements to 5.3 release page
  general/releases/5.2.md
  general/releases/5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Fix deprecated configuration
  docusaurus.config.js
Due: eslint --fix

[docs] backport notes to common files
  versioned_docs/version-4.1/apis/_files/lang.md
  versioned_docs/version-4.1/apis/_files/settings-php.mdx
  versioned_docs/version-4.1/apis/_files/version-php.mdx
  versioned_docs/version-4.1/apis/commonfiles/index.mdx
  versioned_docs/version-4.4/apis/_files/lang.md
  versioned_docs/version-4.4/apis/_files/settings-php.mdx
  versioned_docs/version-4.4/apis/_files/version-php.mdx
  versioned_docs/version-4.4/apis/commonfiles/index.mdx
  versioned_docs/version-4.5/apis/_files/lang.md
  versioned_docs/version-4.5/apis/_files/settings-php.mdx
  versioned_docs/version-4.5/apis/_files/version-php.mdx
  versioned_docs/version-4.5/apis/commonfiles/index.mdx
  versioned_docs/version-5.0/apis/_files/lang.md
  versioned_docs/version-5.0/apis/_files/settings-php.mdx
  versioned_docs/version-5.0/apis/_files/version-php.mdx
  versioned_docs/version-5.0/apis/commonfiles/index.mdx
  versioned_docs/version-5.1/apis/_files/lang.md
  versioned_docs/version-5.1/apis/_files/settings-php.mdx
  versioned_docs/version-5.1/apis/_files/version-php.mdx
  versioned_docs/version-5.1/apis/commonfiles/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] add notes to common files
  docs/apis/_files/lang.md
  docs/apis/_files/settings-php.mdx
  docs/apis/_files/version-php.mdx
  docs/apis/commonfiles/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Minor correction to class name
  versioned_docs/version-4.5/apis/subsystems/question/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Backport] incorporate public folder
  versioned_docs/version-5.1/apis/plugintypes/assign/submission.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] incorporate public folder
  docs/apis/plugintypes/assign/submission.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Improve coding guidelines and move it to its own page
  general/development/policies/accessibility/coding-guidelines.md
  general/development/policies/accessibility/index.md
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Improve the accessibility checklist for peer reviewers
  general/development/process/peer-review/accessibility-checklist.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix PHP CodeSniffer link
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Halo bca 24 jam
  general/contentguidelines.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Remove zipchat
  docusaurus.config.js
Due: eslint --fix

[repo] Bump to Yarn 4.13
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: none

[repo] bump to Docusaurus 3.10
  package.json
  yarn.lock
Due: none

[repo] Updated deprecated configuration values
  docusaurus.config.js
Due: eslint --fix

[repo] Bump browserslist data
  yarn.lock
Due: none

[repo] Update cspell config to ignore mdx comments
  cspell.config.js
Due: eslint --fix

[docs] Miscellaneous fixes
  docs/guides/javascript/index.md
  general/app/development/plugins-development-guide/api-reference.md
  general/app/development/plugins-development-guide/examples/course-formats.md
  general/development/policies/codingstyle/index.md
  versioned_docs/version-4.1/apis/_files/db-services-php.mdx
  versioned_docs/version-4.1/guides/javascript/index.md
  versioned_docs/version-4.4/guides/javascript/index.md
  versioned_docs/version-4.5/guides/javascript/index.md
  versioned_docs/version-5.0/guides/javascript/index.md
  versioned_docs/version-5.1/guides/javascript/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Use faster vcs calculations
  docusaurus.config.js
Due: eslint --fix

[repo] Update archived version links
  versionsArchived.json
Due: none
