Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

Fix all links to point to new general/development/php page
  general/releases/3.10.md
  general/releases/3.11.md
  general/releases/3.5.md
  general/releases/3.6.md
  general/releases/3.7.md
  general/releases/3.8.md
  general/releases/3.9.md
  general/releases/4.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Mark the page as migrated
  data/migratedPages.yml
Due: none

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

Update versions.json
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Update release dates on the release notes
  general/releases/3.11/3.11.8.md
  general/releases/3.9/3.9.15.md
  general/releases/4.0/4.0.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Adjust link selector
  .markdownlint/fix-renamed-links.js
Due: eslint --fix

[repo] Enable forced relative links for the general dir
  .markdownlint-cli2.cjs
Due: none

[app] Quick fixes on some links
  docs/moodleapp.md
  docs/moodleapp/overview.md
  docs/moodleapp/upgrading/plugins-upgrade-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Accept URLs in the migration tool
  scripts/wikimedia-fetch.js
Due: eslint --fix

[docs] Add documentation documenting the documentation
  README.md
  general/documentation/code-of-conduct.md
  general/documentation/contributing.md
  general/documentation/index.md
  general/documentation/linting.md
  general/documentation/structure.md
  general/documentation/style-guides.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add a release note info component
  .markdownlint-cli2.cjs
  src/components/ReleaseInformation/index.tsx
  src/utils/SupportedReleases.ts
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Update all current versions to use new ReleaseNoteIntro component
  general/releases/3.11.md
  general/releases/3.11/3.11.1.md
  general/releases/3.11/3.11.2.md
  general/releases/3.11/3.11.3.md
  general/releases/3.11/3.11.4.md
  general/releases/3.11/3.11.5.md
  general/releases/3.11/3.11.6.md
  general/releases/3.11/3.11.7.md
  general/releases/3.11/3.11.8.md
  general/releases/3.9.md
  general/releases/3.9/3.9.1.md
  general/releases/3.9/3.9.10.md
  general/releases/3.9/3.9.11.md
  general/releases/3.9/3.9.12.md
  general/releases/3.9/3.9.13.md
  general/releases/3.9/3.9.14.md
  general/releases/3.9/3.9.15.md
  general/releases/3.9/3.9.2.md
  general/releases/3.9/3.9.3.md
  general/releases/3.9/3.9.4.md
  general/releases/3.9/3.9.5.md
  general/releases/3.9/3.9.6.md
  general/releases/3.9/3.9.7.md
  general/releases/3.9/3.9.8.md
  general/releases/3.9/3.9.9.md
  general/releases/4.0.md
  general/releases/4.0/4.0.1.md
  general/releases/4.0/4.0.2.md
  src/components/ReleaseInformation/index.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Correct renamed links which are not index.md
  .markdownlint/fix-renamed-links.js
Due: eslint --fix

[repo] Unreleased title for versions
  src/theme/UnsupportedVersionBanner/index.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[doc] Migrate component library
  data/migratedPages.yml
  general/development/policies.md
  general/development/process/peer-review.md
  general/development/tools/component-library.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Improve colour for Since and DeprecatedSince
  src/components/Since.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Document the Task API
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/db-tasks-example.php
  docs/apis/_files/db-tasks-php.mdx
  docs/apis/_files/db-tasks-php.tsx
  docs/apis/_files/index.tsx
  docs/apis/commonfiles/db-tasks.php/index.md
  docs/apis/commonfiles/index.mdx
  docs/apis/subsystems/task/adhoc.md
  docs/apis/subsystems/task/index.md
  docs/apis/subsystems/task/scheduled.md
  general/releases/2.7.md
  src/components/ComponentFileSummary.tsx
Due: eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] apis : Migrate customfields API
  data/migratedPages.yml
  data/plugin-names.txt
  docs/apis.md
  docs/apis/customfields/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] 402 minors: Add security fixes and remove incorrect translations
  general/releases/3.11/3.11.8.md
  general/releases/3.9/3.9.15.md
  general/releases/4.0/4.0.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrating delegated transactions document
  docs/apis/core/dml/_index/TransactionsAndExceptionsFlow.png
  docs/apis/core/dml/delegated-transactions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Rewording of transactions and tidy up.
  docs/apis/core/dml/_delegated-transactions/TransactionsAndExceptionsFlow.png
  docs/apis/core/dml/delegated-transactions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] dml: Transaction page remove two points.
  docs/apis/core/dml/delegated-transactions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Backup and Restore API pages.
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/backup/index.md
  docs/apis/subsystems/backup/restore.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add testse for tracker link conversions
  babel-test.config.js
  jest.config.js
  package.json
  src/remark/trackerLinks.test.js
  yarn.lock
Due: eslint --fix, cspell --no-must-find-files --no-progress

[repo] Automatically convert tracker projects to links
  src/remark/trackerLinks.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Fix incorrect link markdown
  general/app_releases/v3/v3.9.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add missing import statements
  docs/apis/subsystems/form/index.md
  general/releases/4.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add naming convention for web service functions
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Improve and provide clear installation instructions
  README.md
  general/documentation/contributing.md
  general/documentation/installation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Availability subsystem
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/lang.tsx
  docs/apis/plugintypes/availability/_examples/lang.md
  docs/apis/plugintypes/availability/_examples/lang.php
  docs/apis/plugintypes/availability/index.md
  docs/apis/plugintypes/index.md
  docs/apis/subsystems/access.md
  docs/apis/subsystems/availability/index.md
  general/releases/2.7.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Describe checkbox controller
  data/migratedPages.yml
  docs/apis/subsystems/form/advanced/checkbox-controller.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Describe no-submit button
  data/migratedPages.yml
  docs/apis/subsystems/form/advanced/no-submit-button.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Remove reference to NEWMODULE Documentation
  docs/apis/plugintypes/mod/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

[docs] Migrate frankenstyle document
  data/migratedPages.yml
  docs/apis/commonfiles/version.php/index.md
  docs/apis/plugintypes/index.md
  docs/apis/subsystems/favourites/index.md
  docs/apis/subsystems/files/index.md
  docs/guides/templates/index.md
  docs/guides/upgrade/index.md
  general/development/policies/codingstyle/frankenstyle.md
  general/development/policies/codingstyle/index.md
  general/development/tools/behat/running.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update langconfig.md
  general/development/process/translation/langpack/langconfig.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  docs/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
