Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Migrate CSS_Coding_Style
  data/migratedPages.yml
  docs/apis/_files/styles-css.mdx
  general/community/plugincontribution/codeprechecks.md
  general/development/policies/codingstyle/css.md
  general/development/policies/codingstyle/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump to Docusuarus 3.10.2
  package.json
  yarn.lock
Due: none

[docs] Initial draft of the REST style guide
  docs/guides/rest/index.md
  docs/guides/rest/style.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-88509 docs: Document the swizzle CLI in theming guide
  docs/guides/javascript/react/theming.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Improve dependency injection guidance
  docs/apis/core/clock/index.md
  docs/apis/core/di/index.md
  docs/apis/subsystems/routing/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update coding style per MDLSITE-8442
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-88495 [docs] Document phpunit snapshot, restore and upgrade commands
  general/development/tools/phpunit/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update php.md
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] app: Document static classes instead of Pure Singletons
  general/app/development/development-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] app: Document services structure patterns
  general/app/development/development-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Next/Previous activity navigation API
  docs/apis/plugintypes/format/linear_navigation.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Document singleton pattern changes in customfields handler.
  docs/apis/core/customfields/index.md
  versioned_docs/version-5.2/apis/core/customfields/index.md
  versioned_docs/version-5.2/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Add upcoming 2026 community dev meeting
  general/community/meetings/2026/08.md
  general/community/meetings/2026/09.md
  general/community/meetings/2026/10.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add "The Moodle App for LMS Developers" page
  general/development/process-moodleapp/lms-developer-guide.md
  general/development/process/peer-review/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 5.2.2 and friends
  data/versions.json
  general/_releases/5021_release_graph.png
  general/_releases/5022_release_graph.png
  general/releases.md
  general/releases/4.5/4.5.13.md
  general/releases/5.0/5.0.9.md
  general/releases/5.1/5.1.6.md
  general/releases/5.2/5.2.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Modify notice banner for security only supported versions.
  src/theme/UnsupportedVersionBanner/index.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

Clarify the difference between calendar "events" and event-handler events
  docs/apis/core/calendar/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-75699 [docs] Document modal dialogue heading structure
  docs/devupdate.md
  docs/guides/javascript/modal/index.md
  versioned_docs/version-4.5/guides/javascript/modal/index.md
  versioned_docs/version-5.1/guides/javascript/modal/index.md
  versioned_docs/version-5.2/guides/javascript/modal/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Remove course-level linear navigation setting
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/format/linear_navigation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document tagged PDF generation for MDL-83411
  docs/apis/core/pdf/index.md
  docs/devupdate.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Document the Boost theme colour modes
  docs/apis/_files/styles-css.mdx
  docs/apis/plugintypes/theme/styles.md
  docs/devupdate.md
  docs/guides.md
  docs/guides/colourmodes/index.md
  general/development/tools/behat/running.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update output documentation for react
  docs/apis/core/htmlwriter/index.md
  docs/apis/subsystems/output/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document attribute-based injection and di::make()
  docs/apis/core/di/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document support of DI in tasks
  docs/apis/subsystems/task/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 5.2.2 and friends
  general/releases/4.5/4.5.13.md
  general/releases/5.0/5.0.9.md
  general/releases/5.1/5.1.6.md
  general/releases/5.2/5.2.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Community contributions team now owns Community and Documentation
  CODEOWNERS
Due: none

Corrected team name in comment
  CODEOWNERS
Due: none

[docs] Document API scopes
  docs/apis/subsystems/routing/defining-scopes.md
  docs/apis/subsystems/routing/scopes.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 5.2.3 and friends
  data/versions.json
  general/_releases/5022_release_graph.png
  general/_releases/5023_release_graph.png
  general/releases.md
  general/releases/4.5/4.5.14.md
  general/releases/5.0/5.0.10.md
  general/releases/5.1/5.1.6.md
  general/releases/5.1/5.1.7.md
  general/releases/5.2/5.2.2.md
  general/releases/5.2/5.2.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Workplace version data for September '26 minors.
  data/workplace/versions.json
Due: none

Add PHP 8.5 as version under development for Moodle 5.3+
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update Minimum PHP verion for Moodle 4.5+
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
