Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Add missing parenthesis and point to standard message
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add lib/phpxmlrpc to the thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] migrated html_writer api
  data/migratedPages.yml
  docs/apis/core/htmlwriter/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update js beautify in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] PHP-JWT Version update to 6.3.0
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update Mustache.js in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Codemirror version update to 5.65.9
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Matthiasmullieminify version update to 1.3.69
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix Moodle QA Chat Room
  general/development/process/testing/qa.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add Intellij to .gitignore
  .gitignore
Due: none

[repo] Fix link to legacy docs for the html_writer
  data/migratedPages.yml
Due: none

fix small typo in the Docusaurus link
  general/documentation/installation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update PHP Markdown in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] Migrate Tag API
  data/migratedPages.yml
  docs/apis.md
  docs/apis/commonfiles/tag.php/index.md
  docs/apis/subsystems/tag/index.md
  general/releases/3.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Developer FAQ
  data/migratedPages.yml
  general/development/abc/faq.md
  general/development/gettingstarted.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update usage of show_editor() api function
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/format/migration.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-75487 Bump version to 2.0.3
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update Roadmap to point to IDEA project
  general/community/roadmap.md
  static/_redirects
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Fix redirects
  static/_redirects
Due: none

MDL-75469 Bump jQuery versions
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Correct redirect splat
  static/_redirects
Due: none

Library updates for 4.1.
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-74912 New DML driver methods for regex word boundary markers
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] MongoDB version update to 1.13.1
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-75466 upgrade PHPMailer to 6.6.5
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update phpCAS in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Upgrade H5P core and editor libraries to moodle-1.22.4
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] main/docs/apis/core/activitycompletion/index.md
  docs/apis/core/activitycompletion/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Updates for 405 minor release
  data/versions.json
  general/_releases/404_release_graph.png
  general/_releases/405_release_graph.png
  general/releases.md
  general/releases/3.11/3.11.11.md
  general/releases/3.9/3.9.18.md
  general/releases/4.0/4.0.5.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[repo] Clear the content of migrated pages on wikimedia
  scripts/utils.js
  scripts/wikimedia-sync.js
Due: eslint --fix

[docs] Document the new TinyMCE plugin API
  .markdownlint-cli2.cjs
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/tiny/index.md
  docs/apis/plugintypes/tiny/legacy.md
  general/community/credits/thirdpartylibs.md
  static/_redirects
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Upgrade to Docusaurus 2.2.0
  package.json
  yarn.lock
Due: none

[docs] Typo: BugBlueButton instead of BigBlueButton
  general/releases/4.0/4.0.5.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix 4.0.5 and friends release date
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Update Emoji-data in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update scssphp in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update PHP CSS Parser in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update Mustache in thirdpartylibs
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
