Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

[docs] Move Forms API to subsystem
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/form/advanced/_category_.yml
  docs/apis/subsystems/form/advanced/advanced-elements.md
  docs/apis/subsystems/form/advanced/repeat-elements.md
  docs/apis/subsystems/form/index.md
  docs/apis/subsystems/form/usage.md
  general/development/policies/security/crosssite-request-forgery.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Remove deployment to gh-pages
  .github/workflows/deploy.yml
Due: none

Document sql_cast_to_char library method.
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] tools/gha: Migrate GitHub Actions docs
  data/migratedPages.yml
  general/development/tools/_gha/actions_dashboard.png
  general/development/tools/_gha/enable_disable_github_actions.png
  general/development/tools/_gha/github_passing.png
  general/development/tools/gha.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update Moodle App release process
  docs/moodleapp/development/release-process.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] fix reactive example
  docs/guides/javascript/reactive/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update docs/guides/javascript/reactive/index.md
  docs/guides/javascript/reactive/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

Add recording timestamps to the agenda.
  general/community/meetings/202206.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Insert placeholder docs for mod_book subplugins
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/mod_book/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Insert placeholder docs for logstore plugins
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/logstore/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Insert placeholder docs for tinymce plugins
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/tinymce/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Insert placeholder docs for mod_forum subplugins
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/mod_forum/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate version.php docs
  data/migratedPages.yml
  docs/apis/commonfiles/version.php/index.md
  general/releases/2.2.md
  scripts/wikimedia-fetch.js
  src/components.js
  src/components/LanguageProperty/index.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate database subplugin docs
  data/migratedPages.yml
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/mod_data/fields.md
  docs/apis/plugintypes/mod_data/index.md
  docs/apis/plugintypes/mod_data/presets.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Course custom field plugintype docs
  data/migratedPages.yml
  docs/_utils.tsx
  docs/apis/plugintypes/customfield/_files/data_controller.php
  docs/apis/plugintypes/customfield/_files/data_controller.tsx
  docs/apis/plugintypes/customfield/_files/field_controller.php
  docs/apis/plugintypes/customfield/_files/field_controller.tsx
  docs/apis/plugintypes/customfield/index.md
  docs/apis/plugintypes/index.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Navigation API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/navigation/_index/Moodle-IA.png
  docs/apis/core/navigation/_index/assignmentmenu.png
  docs/apis/core/navigation/index.md
  general/releases/3.0.md
  general/releases/3.1.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Noting a page as migrated is a major edit
  scripts/utils.js
Due: eslint --fix

Add some recently details that were missed on translation
  general/development/tools/gha.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Privacy API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/privacy/_index/MoodlePrivacyMetadataUML.png
  docs/apis/subsystems/privacy/_index/MoodlePrivacyRequestUML.png
  docs/apis/subsystems/privacy/index.md
  general/development/process/peer-review.md
  general/releases/3.5.md
  general/releases/3.6.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Privacy FAQs
  data/migratedPages.yml
  docs/apis/subsystems/privacy/faq.md
  docs/apis/subsystems/privacy/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Privacy Utils
  data/migratedPages.yml
  docs/apis/subsystems/privacy/index.md
  docs/apis/subsystems/privacy/utils.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Lock API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/lock/index.md
  general/releases/2.7.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Check API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/check/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Updated phpcs plugin repository URL
  general/development/tools/phpcs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Editor_API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/editor/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Correct legacy link for plugintypes
  data/migratedPages.yml
  static/_redirects
Due: none

[docs] Add additional redirect for Repository API docs
  data/migratedPages.yml
  docs/apis/subsystems/files/index.md
  docs/apis/subsystems/files/internals.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Make all /docs links relative
  .markdownlint-cli2.cjs
  docs/apis.md
  docs/apis/_files/db-mobile-php.mdx
  docs/apis/core/dml/ddl.md
  docs/apis/plugintypes/assign/feedback.md
  docs/apis/plugintypes/assign/submission.md
  docs/apis/plugintypes/enrol/index.md
  docs/apis/plugintypes/filter/index.md
  docs/apis/plugintypes/format/migration.md
  docs/apis/plugintypes/index.md
  docs/apis/subsystems/access.md
  docs/apis/subsystems/enrol.md
  docs/apis/subsystems/form/index.md
  docs/apis/subsystems/output.md
  docs/apis/subsystems/roles.md
  docs/devupdate.md
  docs/moodleapp.md
  docs/moodleapp/customisation/remote-themes.md
  docs/moodleapp/development/development-guide.md
  docs/moodleapp/development/setup/app-in-browser.md
  docs/moodleapp/development/setup/troubleshooting.md
  docs/moodleapp/development/testing/acceptance-testing.md
  docs/moodleapp/development/testing/unit-testing.md
  docs/moodleapp/faq.md
  docs/moodleapp/overview.md
  docs/moodleapp/upgrading/plugins-upgrade-guide.md
  docs/moodleapp/upgrading/remote-themes-upgrade-guide.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Remove 4.0 temp docs
  versioned_docs/version-4.0/guides/javascript/_examples/promises/getModal.js
  versioned_docs/version-4.0/guides/javascript/_examples/str.js
  versioned_docs/version-4.0/guides/javascript/index.md
  versioned_docs/version-4.0/intro.md
  versioned_docs/version-4.0/policy/naming.md
  versioned_sidebars/version-4.0-sidebars.json
  versions.json
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate jQuery documentation
  data/migratedPages.yml
  docs/guides/javascript/jquery/index.md
  general/releases/3.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] These docs are now official
  general/documentation/contributing.md
  general/documentation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Upgrade work in progress
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/db-upgrade-php.mdx
  docs/apis/_files/upgrade-php.mdx
  docs/apis/core/dml/ddl.md
  docs/guides/upgrade/index.md
  project-words.txt
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate User Preference API
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/preference/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add missing Credits page from migrated page list
  data/migratedPages.yml
Due: none

[docs] Migrate 4.0 Blocks Cleanup page
  data/migratedPages.yml
  data/projects.json
  docs/devupdate.md
  general/projects/code/block-cleanup.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d

Updated key players and minor changes
  general/community/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update intro.md
  general/community/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
