Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Add "apis/plugintypes/quizaccess" page.
  data/main/components.json
  docs/apis/plugintypes/quizaccess/_examples/rule.md
  docs/apis/plugintypes/quizaccess/_examples/rule.php
  docs/apis/plugintypes/quizaccess/_examples/rule_overridable.md
  docs/apis/plugintypes/quizaccess/_examples/rule_overridable.php
  docs/apis/plugintypes/quizaccess/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Re-order the peer review checklist into a more logical order
  general/development/process/peer-review/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add support for experimental releases
  sidebars/releaseNotes.js
  src/theme/UnsupportedVersionBanner/index.js
  src/utils/SupportedReleases.ts
  static/schema/versions.json
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Adding release notes for 4.6 experimental release
  data/versions.json
  general/releases.md
  general/releases/4.6.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Date and time of Jan 2025 meeting
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Date, time and agenda for meeting
  general/community/meetings/2025/01.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Display banner for versioned docs
  docusaurus.config.js
Due: eslint --fix

[repo] Show a warning for stable versions that newer docs are available.
  nextVersion.js
  src/theme/MoodlePageBanner/index.js
  src/theme/UnsupportedVersionBanner/index.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

Add an ABC page about using fixup commits and branches
  general/development/abc.md
  general/development/abc/fixups.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/main/components.json
Due: none

Update AI Provider plugin documentation for provider instances. See: MDL-82977
  docs/apis/plugintypes/ai/provider.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update fixups.md
  general/development/abc/fixups.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Use @docusaurus/faster
  babel.config.js
  docusaurus.config.js
  package.json
  src/remark/moodleBanner.js
  src/theme/DraftPageBanner/index.js
  src/theme/MoodlePageBanner/index.js
  yarn.lock
Due: eslint --fix, cspell --no-must-find-files --no-progress

[repo] Bump to Docusaurus 3.7
  package.json
  yarn.lock
Due: none

[repo] Bump to Yarn 4.6.0
  .gitattributes
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: none

[docs] Fix miscellaneous markdown issues
  docs/apis/subsystems/roles.md
  general/app_releases/v2/v2.3.md
  general/app_releases/v2/v2.4.md
  general/app_releases/v2/v2.5.md
  general/app_releases/v2/v2.6.md
  general/app_releases/v2/v2.8.md
  general/app_releases/v2/v2.9.md
  general/app_releases/v3/v3.0.0.md
  general/app_releases/v3/v3.1.0.md
  general/app_releases/v3/v3.2.0.md
  general/app_releases/v3/v3.2.1.md
  general/app_releases/v3/v3.3.0.md
  general/app_releases/v3/v3.3.1.md
  general/app_releases/v3/v3.4.0.md
  general/app_releases/v3/v3.6.1.md
  general/community/plugincontribution/index.md
  versioned_docs/version-4.1/apis/subsystems/roles.md
  versioned_docs/version-4.3/apis/subsystems/roles.md
  versioned_docs/version-4.4/apis/subsystems/roles.md
  versioned_docs/version-4.5/apis/subsystems/roles.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Jump to NodeJS 18
  .nvmrc
  netlify.toml
Due: none

[repo] Bump browserslist
  yarn.lock
Due: none

[repo] Bump to React 19
  package.json
  yarn.lock
Due: none

[docs] activity icon colors update note
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-78520 Add question bank data mapper API guide
  docs/apis/plugintypes/qbank/data-mapper.md
  docs/apis/plugintypes/qbank/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix a small typo on a git command in fixups.md
  general/development/abc/fixups.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix typo
  versioned_docs/version-4.5/apis/core/di/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[repo] Update Moodle Component metadata
  data/libraries.json
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update the NodeJS version policy
  general/development/policies/node.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix typo
  docs/apis/core/di/index.md
  versioned_docs/version-4.4/apis/core/di/index.md
  versioned_docs/version-4.5/apis/core/di/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add question bank filter API guide
  docs/apis/plugintypes/qbank/filters.md
  docs/apis/plugintypes/qbank/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

fixup! Add question bank filter API guide
  docs/apis/plugintypes/qbank/filters.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-83862 Add question bank filter validation documentation
  docs/apis/plugintypes/qbank/filters.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] course format update note
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update 01.md
  general/community/meetings/2025/01.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add PHPUnit 11 upgrade guidance
  data/migratedPages.yml
  docs/devupdate.md
  general/development/policies.md
  general/development/policies/codingstyle/index.md
  general/development/process.md
  general/development/tools/phpunit/index.md
  general/development/tools/phpunit/upgrading-11.md
  general/releases/2.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Added recording link
  general/community/meetings/2025/01.md
  general/community/meetings/2025/_files/2025-01-JSUnitTests-presentation.pdf
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
