Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Update output documentation for react
  docs/apis/core/htmlwriter/index.md
  docs/apis/subsystems/output/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document API scopes
  docs/apis/subsystems/routing/defining-scopes.md
  docs/apis/subsystems/routing/scopes.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document adhoc task deduplication changes
  docs/apis/subsystems/task/adhoc.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] files: Document the before_file_created hook
  docs/apis/subsystems/files/index.md
  versioned_docs/version-4.5/apis/subsystems/files/index.md
  versioned_docs/version-5.0/apis/subsystems/files/index.md
  versioned_docs/version-5.1/apis/subsystems/files/index.md
  versioned_docs/version-5.2/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] di: Document attribute injection and instance creation
  docs/apis/core/di/index.md
  docs/apis/subsystems/task/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Initial draft of the REST style guide
  docs/guides/rest/index.md
  docs/guides/rest/style.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add Moodle Marketplace API documentation
  .gitignore
  .markdownlint-cli2.cjs
  docusaurus.config.js
  general/community/plugincontribution/marketplace-api/_category_.yml
  general/community/plugincontribution/moodlemarketplaceapi.md
  general/community/plugincontribution/pluginsdirectory/api.md
  package.json
  scripts/marketplace-openapi.mjs
  yarn.lock
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document the mod_bigbluebuttonbn bbbext subplugin type
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/mod_bigbluebuttonbn/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document the mod_bigbluebuttonbn bbbext subplugin type
  docs/apis/plugintypes/index.md
  docs/apis/plugintypes/mod_bigbluebuttonbn/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Known issue — MDL-84230
  versioned_docs/version-5.2/apis/subsystems/form/usage/files.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Document Task progress api
  docs/apis/subsystems/output/index.md
  docs/apis/subsystems/task/index.md
  versioned_docs/version-4.5/apis/subsystems/output/index.md
  versioned_docs/version-4.5/apis/subsystems/task/index.md
  versioned_docs/version-5.0/apis/subsystems/output/index.md
  versioned_docs/version-5.0/apis/subsystems/task/index.md
  versioned_docs/version-5.1/apis/subsystems/output/index.md
  versioned_docs/version-5.1/apis/subsystems/task/index.md
  versioned_docs/version-5.2/apis/subsystems/output/index.md
  versioned_docs/version-5.2/apis/subsystems/task/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix up
  docs/apis/subsystems/output/index.md
  docs/apis/subsystems/task/index.md
  versioned_docs/version-4.5/apis/subsystems/output/index.md
  versioned_docs/version-4.5/apis/subsystems/task/index.md
  versioned_docs/version-5.0/apis/subsystems/output/index.md
  versioned_docs/version-5.0/apis/subsystems/task/index.md
  versioned_docs/version-5.1/apis/subsystems/output/index.md
  versioned_docs/version-5.1/apis/subsystems/task/index.md
  versioned_docs/version-5.2/apis/subsystems/output/index.md
  versioned_docs/version-5.2/apis/subsystems/task/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document attribute-based injection and di::make()
  docs/apis/core/di/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document support of DI in tasks
  docs/apis/core/di/index.md
  docs/apis/subsystems/task/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Render the Moodle Marketplace API reference with Redocusaurus
  docusaurus.config.js
  general/community/plugincontribution/moodlemarketplaceapi.md
  general/community/plugincontribution/moodlemarketplaceapi.mdx
  general/community/plugincontribution/pluginsdirectory/api.md
  package.json
  src/css/custom.css
  src/utils/marketplaceApiSpec.js
  src/utils/marketplaceApiSpec.test.js
  static/marketplace-api/openapi.json
  yarn.lock
Due: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Remove links to Designing usable forms from latest docs
  docs/apis/subsystems/form/advanced/advanced-elements.md
  docs/apis/subsystems/form/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document some new jest mocking features
  docs/guides/javascript/react/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 5.3 major release
  data/versions.json
  general/releases.md
  general/releases/5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Adding release notes for 5.2.4 and friends
  data/versions.json
  general/_releases/5023_release_graph.png
  general/_releases/5030_release_graph.png
  general/releases.md
  general/releases/4.5/4.5.15.md
  general/releases/5.0/5.0.11.md
  general/releases/5.1/5.1.8.md
  general/releases/5.2/5.2.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Add Moodle 5.3 QA to previous QA cycles list
  general/development/process/testing/qa.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add Moodle 5.3 QA contributors to testing.md
  general/community/credits/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Workplace version data for October '26 minors.
  data/workplace/versions.json
Due: none

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
