Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] docs/gettingstarted: Fix broken links
  docs/gettingstarted/requirements.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Bump version of nodemw for articleInfo fix
  package.json
  yarn.lock
Due: none

[docs] add repository plugin and fix ComponentFileSummary
  data/migratedPages.yml
  docs/apis/plugintypes/repository/_examples/access.php
  docs/apis/plugintypes/repository/_examples/flickr_public_lib.php
  docs/apis/plugintypes/repository/_examples/full_list.jsonc
  docs/apis/plugintypes/repository/_examples/lib.php
  docs/apis/plugintypes/repository/_files/options.png
  docs/apis/plugintypes/repository/index.mdx
Due: none

[docs] policies/deprecation: Migrate Deprecation docs
  data/migratedPages.yml
  data/projects.json
  general/development/policies/codingstyle/index.md
  general/development/policies/deprecation.md
  general/development/process.md
  general/projects/api/_files/lang20amosflow.png
  general/projects/api/_files/lang20amosflow2.png
  general/projects/api/amos.md
  general/projects/api/string-deprecation.md
  src/components/Project/index.ts
  src/components/ProjectSummary/index.tsx
  static/schema/projects.json
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Replace workflow image
  general/development/process.md
  general/development/process/_files/simplified_workflow.png
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Move backporting to policies
  general/development/policies/backporting.md
  general/development/process/integration-review.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrate Release process
  data/migratedPages.yml
  general/development/policies/deprecation.md
  general/development/process.md
  general/development/process/integration-review.md
  general/development/process/release.md
  project-words.txt
  sidebars/general.js
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Fix editUrl for general
  docusaurus.config.js
Due: eslint --fix

Add Michael Milette
  general/community/credits/documentation.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Add links to GitHub docs on editing
  general/documentation/contributing.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Serialise the legacy doc migration
  scripts/wikimedia-sync.js
Due: eslint --fix

[docs] Minor fixes to improve repository
  data/migratedPages.yml
  docs/apis/_files/lang-extra.md
  docs/apis/_files/lang.md
  docs/apis/_files/lang.tsx
  docs/apis/commonfiles/index.mdx
  docs/apis/plugintypes/repository/index.md
  project-words.txt
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

Update peer-review.md
  general/development/process/peer-review.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

Update general/development/process/peer-review.md
  general/development/process/peer-review.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Generate a list of pages left to migrate
  scripts/wikimedia-sync.js
Due: eslint --fix

[repo] Fix mdlint-all and add migrate
  package.json
Due: none

[repo] Correct github action syntax
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] Additional action fix
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] Only run component fetch on our repo
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] More GHA fixes
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] Correct remaining issues with metadata update
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] More fixes to the GHA
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] Include all metadata in commit
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] Fix issue in array comp
  scripts/wikimedia-sync.js
Due: eslint --fix

[repo] Fetch the full moodle history
  .github/workflows/update-moodle-metadata.yml
  scripts/generate-contributor-list.sh
Due: none

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[repo] Add words to project cspell
  project-words.txt
Due: none

Update docs/apis/plugintypes/filter/index.md
  docs/apis/plugintypes/filter/index.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[docs] Migrate filter plugins
  data/migratedPages.yml
  docs/apis/plugintypes/filter/_examples/dynamic.js
  docs/apis/plugintypes/filter/_examples/filter.php
  docs/apis/plugintypes/filter/index.md
Due: eslint --fix, markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

Update meetings.md
  general/community/meetings.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Fix link from old docs to new docs for File API
  data/migratedPages.yml
Due: none

[docs] Update meetings.md
  data/migratedPages.yml
  general/community/meetings.md
  general/community/meetings/202202.md
  general/community/meetings/202204.md
  general/community/meetings/202206.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

details and agenda
  general/community/meetings/202206.md
Due: markdownlint-cli2-fix, cspell --no-must-find-files --no-progress

[repo] Ensure that projects.json is appropriately linted
  .lintstagedrc.json
  .vscode/extensions.json
  cspell.config.js
  package.json
  scripts/jsonlint.mjs
  static/schema/projects.json
  yarn.lock
Due: eslint --fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-fix: any of: *.md
  cspell --no-must-find-files --no-progress: (any of: *.md) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
