Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Add links to 4.1 and 4.4
  versionsArchived.json
Due: none

[docs] Update documentation on removing docs
  general/documentation/forking-versions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document the JS Deprecation utilities and process
  docs/guides/javascript/deprecation.md
  general/development/policies/deprecation/javascript.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Intro and 4 weeks prior detail and explanation
  general/development/process/release/newuserdocs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

spelling: dependenices -> dependencies
  docs/apis/commonfiles/version.php/index.md
  docs/apis/core/di/index.md
  versioned_docs/version-4.5/apis/commonfiles/version.php/index.md
  versioned_docs/version-4.5/apis/core/di/index.md
  versioned_docs/version-5.0/apis/commonfiles/version.php/index.md
  versioned_docs/version-5.0/apis/core/di/index.md
  versioned_docs/version-5.1/apis/commonfiles/version.php/index.md
  versioned_docs/version-5.1/apis/core/di/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Correct Hooks examples to use callable notation
  docs/apis/core/di/index.md
  docs/apis/plugintypes/ai/provider.md
  versioned_docs/version-4.5/apis/core/di/index.md
  versioned_docs/version-5.0/apis/core/di/index.md
  versioned_docs/version-5.0/apis/plugintypes/ai/provider.md
  versioned_docs/version-5.1/apis/core/di/index.md
  versioned_docs/version-5.1/apis/plugintypes/ai/provider.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document template deprecation
  general/development/policies/deprecation/index.md
  general/development/policies/deprecation/templates.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document the recommended use of the Override attribute in PHP
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

php: MDL-84684 is the PHP 8.5 epic
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 5.1.4 and friends
  data/versions.json
  general/_releases/5013_release_graph.png
  general/_releases/5020_release_graph.png
  general/releases.md
  general/releases/4.5/4.5.11.md
  general/releases/5.0/5.0.7.md
  general/releases/5.1/5.1.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Adding release notes for 5.2 major release
  data/versions.json
  general/releases.md
  general/releases/5.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Refine section about accessibility impact of using XPath or CSS selectors in Behat
  general/development/tools/behat/writing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add Moodle 5.2 QA contributors to testing.md
  general/community/credits/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

New releases and update support info section
  data/workplace/versions.json
  src/components/Workplace/ReleaseTable/index.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress

[repo] Update Moodle Component metadata
  data/libraries.json
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Remove deprecated format_for_log()
  docs/apis/plugintypes/assign/submission.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add documentation for OpenTelemetry
  docs/apis.md
  docs/apis/telemetry/index.mdx
  project-words.txt
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 5.1.4 and friends
  general/releases/4.5/4.5.11.md
  general/releases/5.0/5.0.7.md
  general/releases/5.1/5.1.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[config] Enable sitemap lastmod and align with Docusaurus v4 defaults
  docusaurus.config.js
Due: eslint --fix

Add Moodle 5.x branches to sync script
  docs/guides/git/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Refer to time-related constants and intended use.
  docs/apis/subsystems/time/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update git push script to check all branches
  docs/guides/git/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Refer to time-related constants and intended use.
  docs/apis/subsystems/time/index.md
  versioned_docs/version-4.5/apis/subsystems/time/index.md
  versioned_docs/version-5.0/apis/subsystems/time/index.md
  versioned_docs/version-5.1/apis/subsystems/time/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix name for popup message processor in sample code
  docs/apis/core/message/index.md
  versioned_docs/version-4.5/apis/core/message/index.md
  versioned_docs/version-5.0/apis/core/message/index.md
  versioned_docs/version-5.1/apis/core/message/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update 4.5.md
  general/releases/4.5.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Plugins Directory Checklist: Add policies to approval blockers
  general/community/plugincontribution/checklist.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

get_grading_batch_operations() replaced
  docs/apis/plugintypes/assign/feedback.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

WP 502 release notes
  data/workplace/versions.json
  general/workplace/releases/_index/1680px-workplace_releases_timeline.png
  general/workplace/releases/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add best practice on using relfection in tests.
  docs/guides/testing/index.md
  versioned_docs/version-5.1/guides/testing/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix table and other updates
  general/development/tools/behat/browsers/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Revert cspell:ignore
  general/development/tools/behat/browsers/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Correct $sort params too
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update references to Moodle 5.3
  docs/devupdate.md
  docs/intro.md
  general/releases/5.2.md
  nextVersion.js
  static/_redirects
  versioned_docs/version-5.2/intro.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.mdx
  general/projects/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

[docs] codingstyle: Fix SQL indentation image alt text
  general/development/policies/codingstyle/sql.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
