Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint --fix, cspell --no-must-find-files --no-progress

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.{md,mdx}": [
    "markdownlint --fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ]
}

[repo] Help typescript resolve modules
  tsconfig.json
Due: none

[docs] Add documentation for the devdocs migration
  data/projects.json
  general/projects/docs/migration.md
  general/projects/index.mdx
  project-words.txt
  sidebars/docs.js
  sidebars/general.js
  src/components/Person/index.d.ts
  src/components/Person/index.tsx
  src/components/Project/index.ts
  src/components/ProjectSummary/index.tsx
  src/components/ProjectSummary/styles.module.css
  src/index.ts
  static/schema/projects.json
Due: stylelint --allow-empty-input --fix, eslint --fix, markdownlint --fix, cspell --no-must-find-files --no-progress

[docs] ' instead of ’.
  docs/guides/javascript/index.md
  general/community/roadmap.md
  general/development/policies/component-communication/index.md
  src/academyCourses.js
  versioned_docs/version-4.0/guides/javascript/index.md
Due: eslint --fix, markdownlint --fix, cspell --no-must-find-files --no-progress

[repo] Include vscode workspace config
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

[repo] Configure stylelint vscode extension
  .stylelintrc.json
  .vscode/settings.json
Due: none

Update README.md
  README.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[repo] Add EditorConfig configuration
  .editorconfig
  .vscode/extensions.json
Due: none

[repo] Upgrade to Docusaurus 2.0.0-beta.20
  package.json
  yarn.lock
Due: none

[repo] Stop linting mdx files for now
  .lintstagedrc.json
Due: none

[repo] Automatically protect migrated pages
  package.json
  scripts/utils.js
  scripts/wikimedia-sync.js
  yarn.lock
Due: eslint --fix

[repo] Update docusaurus configuration
  docusaurus.config.js
Due: eslint --fix

[docs] Update chat docs to mention Matrix
  general/community/channels.md
  general/community/intro.md
  general/community/mission.md
  general/community/roadmap.md
  sidebars/general.js
Due: eslint --fix, markdownlint --fix, cspell --no-must-find-files --no-progress

[docs] Fix some minor thirdpartylibs issues
  general/community/credits/thirdpartylibs.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[repo] Add markdownlint rule to replace [[wikilinks]]
  .markdownlint/no-wikilinks.js
  .vscode/settings.json
  package.json
Due: eslint --fix

[docs] Fix all uses of directional quotes
  docs/release-notes.md
  general/community/roadmap.md
  general/development/policies/accessibility.md
  general/development/process/peer-review.md
  general/development/process/testing/qa.md
  general/development/tools/mdk.md
  general/development/tracker/tips/index.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[repo] Add markdown lint rule to convert directional quotes
  .eslintrc.js
  .lintstagedrc.json
  .markdownlint/no-directional-quotation-marks.js
  .vscode/settings.json
  package.json
  yarn.lock
Due: eslint --fix

[repo] Add markdownlint rule to identify obsolete pages
  .markdownlint/find-obsolete-links.js
  .vscode/settings.json
  package.json
Due: eslint --fix

[repo] Add markdownlint rule to replace migrated links
  .markdownlint/fix-migrated-links.js
  .vscode/settings.json
  docusaurus.config.js
  migratedPages.js
  package.json
  src/remark/legacyDocLinks.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Fix migrated links
  general/development/process/integration-review.md
  general/development/process/peer-review.md
  general/development/process/testing/integrated-issues.md
  general/development/process/testing/qa.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[docs] remove unnecessary asterisk.
  general/development/policies/codingstyle/index.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[docs] Small typo improvements in security pages.
  general/development/policies/security/crosssite-request-forgery.md
  general/development/policies/security/crosssite-scripting.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[docs] alt attribute needs no code markup.
  general/development/policies/accessibility.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[docs] tools/phpcs: Update the phpcs docs following MDL-74511
  general/development/tools/phpcs.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[repo] Address some syntax issues with the ComponentFileSummary
  docs/_utils.tsx
  docs/apis/_files/version-php.tsx
  src/components/ComponentFileSummary.tsx
  src/moodleBridge.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress

Fix missing directional quotes
  docs/guides/javascript/index.md
  docs/moodleapp/development/setup/index.md
  versioned_docs/version-4.0/guides/javascript/index.md
Due: markdownlint --fix, cspell --no-must-find-files --no-progress

[repo] Tidy up package.json dependencies
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/test-deploy.yml
  .github/workflows/update-moodle-metadata.yml
  package.json
  yarn.lock
Due: none

[repo] Rewrite the migration script to use markdownlint
  .markdownlint-cli2.cjs
  .markdownlint.yaml
  package.json
  scripts/migration/markdownlint-cli2-config.cjs
  scripts/migration/phases/01-codeblocks/.markdownlint-cli2.cjs
  scripts/migration/phases/01-codeblocks/rule.js
  scripts/migration/phases/02-lists/.markdownlint-cli2.cjs
  scripts/migration/phases/02-lists/rule.js
  scripts/migration/phases/03-headers/.markdownlint-cli2.cjs
  scripts/migration/phases/03-headers/rule.js
  scripts/migration/phases/04-externallinks/.markdownlint-cli2.cjs
  scripts/migration/phases/04-externallinks/rule.js
  scripts/migration/phases/05-wikilinks/.markdownlint-cli2.cjs
  scripts/migration/phases/05-wikilinks/rule.js
  scripts/migration/phases/08-bold/.markdownlint-cli2.cjs
  scripts/migration/phases/09-italic/.markdownlint-cli2.cjs
  scripts/migration/phases/100-final/.markdownlint-cli2.cjs
  scripts/migration/phases/sharedrules/bold-italic-both.js
  scripts/wikimedia-fetch.js
  yarn.lock
Due: eslint --fix

[repo] Switch to markdownlint-cli2
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .lintstagedrc.json
  package.json
Due: none

[repo] Add markdownlint rule to replace [[wikilinks]]
  .markdownlint/no-wikilinks.js
  package.json
Due: eslint --fix

[docs] Convert all {tracker} links to markdown links
  docs/apis/plugintypes/mod/_files/mod_form-php.mdx
  docs/apis/subsystems/files/internals.md
  docs/moodleapp/development/release-process.md
  docs/moodleapp/development/setup/index.md
  docs/moodleapp/development/setup/troubleshooting.md
  docs/release-notes.md
  general/development/policies/codingstyle/index.md
  general/development/policies/naming.md
  general/development/policies/security/crosssite-request-forgery.md
  general/development/process.md
  general/development/process/integration-review.md
  general/development/process/testing/qa.md
  general/development/process/triage.md
  general/development/tracker.md
  general/development/tracker/guide.md
  general/development/tracker/labels.md
  src/remark/trackerLinks.js
  versioned_docs/version-4.0/policy/naming.md
Due: eslint --fix, markdownlint --fix, cspell --no-must-find-files --no-progress

[repo] Add table migration
  scripts/migration/phases/20-tables/.markdownlint-cli2.cjs
  scripts/migration/phases/20-tables/migrate-table.mjs
  scripts/migration/phases/20-tables/rule.js
  scripts/wikimedia-fetch.js
Due: eslint --fix

[repo] Convert MDL-\d+ to link
  scripts/migration/phases/06-trackerlinkfilter/.markdownlint-cli2.cjs
  scripts/migration/phases/06-trackerlinkfilter/rule.js
  scripts/wikimedia-fetch.js
Due: eslint --fix
