Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.md": [
    "markdownlint --fix"
  ]
}

[docs] moodleapp/remote-themes: Migrate Moodle App Remote themes
  docs/guides/moodleapp/remote-themes.md
  project-words.txt
Due: markdownlint --fix

[docs] moodleapp/customisation: Migrate Moodle App Customisation
  data/migratedPages.yml
  docs/guides/moodleapp/customisation.md
  docs/guides/moodleapp/index.md
  docs/guides/moodleapp/overview.md
  docs/guides/moodleapp/remote-themes.md
Due: markdownlint --fix

[docs] moodleapp/*: Add Moodle App tag and change sidebar title
  docs/guides/moodleapp/coding-style.md
  docs/guides/moodleapp/customisation.md
  docs/guides/moodleapp/index.md
  docs/guides/moodleapp/overview.md
  docs/guides/moodleapp/remote-themes.md
Due: markdownlint --fix

[docs] moodleapp/remote-themes: Migrate Moodle App Remote themes
  data/migratedPages.yml
  docs/guides/moodleapp/remote-themes.md
  project-words.txt
Due: markdownlint --fix

[docs] moodleapp/index: Correct links
  docs/guides/moodleapp/index.md
Due: markdownlint --fix

[docs] policies/accessibility: Migrate Accessibility docs
  .markdownlint.yaml
  data/migratedPages.yml
  general/development/policies/accessibility.md
  general/development/policies/codingstyle/index.md
  project-words.txt
Due: markdownlint --fix

[docs] tracker/guide: Migrate tracker guide
  data/migratedPages.yml
  general/development/process.md
  general/development/tracker/guide.md
Due: markdownlint --fix

[docs] Remove references to contact Helen in QA
  general/development/process/testing/qa.md
Due: markdownlint --fix

[docs] process/triage: Migrate Bug triage
  data/migratedPages.yml
  general/development/process.md
  general/development/process/_files/cannedresponses.png
  general/development/process/triage.md
  general/development/tracker/tips/index.md
  general/development/tracker/tips/savefilter1.png
  general/development/tracker/tips/savefilter2.png
  general/development/tracker/tips/savefilter3.jpeg
  general/development/tracker/tips/savefilter3.png
  sidebars/general.js
Due: eslint --fix, markdownlint --fix

[docs] general: Fix migrated page
  general/development/process/triage.md
Due: markdownlint --fix

[docs] moodleapp/*: Migrate Moodle App pages
  data/migratedPages.yml
  docs/guides/moodleapp/accessibility.md
  docs/guides/moodleapp/customisation/custom-apps.md
  docs/guides/moodleapp/customisation/index.md
  docs/guides/moodleapp/customisation/remote-themes-upgrade-guide.md
  docs/guides/moodleapp/customisation/remote-themes.md
  docs/guides/moodleapp/development/app-in-browser.md
  docs/guides/moodleapp/development/coding-style.md
  docs/guides/moodleapp/development/custom-push-notifications.md
  docs/guides/moodleapp/development/deep-linking.md
  docs/guides/moodleapp/development/development-process.md
  docs/guides/moodleapp/development/docker-images.md
  docs/guides/moodleapp/development/index.md
  docs/guides/moodleapp/development/network-debug.md
  docs/guides/moodleapp/development/release-process.md
  docs/guides/moodleapp/development/scripts/gulp-push.md
  docs/guides/moodleapp/development/scripts/index.md
  docs/guides/moodleapp/development/setup.md
  docs/guides/moodleapp/development/testing/acceptance-testing.md
  docs/guides/moodleapp/development/testing/index.md
  docs/guides/moodleapp/development/testing/unit-testing.md
  docs/guides/moodleapp/index.md
  docs/guides/moodleapp/overview.md
  docs/guides/moodleapp/translation.md
  project-words.txt
Due: markdownlint --fix

[docs] Migrate Local_plugins plugintype docs
  data/migratedPages.yml
  docs/apis/plugintypes/local/index.mdx
Due: none

[docs] Rename PluginFileSummary to ComponentFileSummary
  docs/_utils.tsx
  docs/apis/_files/amd-dir.tsx
  docs/apis/_files/backup-dir.tsx
  docs/apis/_files/changes.tsx
  docs/apis/_files/classes-dir.tsx
  docs/apis/_files/cli-dir.tsx
  docs/apis/_files/db-access-php.tsx
  docs/apis/_files/db-events-php.tsx
  docs/apis/_files/db-install-php.tsx
  docs/apis/_files/db-messages-php.tsx
  docs/apis/_files/db-mobile-php.tsx
  docs/apis/_files/db-renamedclasses-php.tsx
  docs/apis/_files/db-services-php.tsx
  docs/apis/_files/db-uninstall-php.tsx
  docs/apis/_files/db-upgrade-php.tsx
  docs/apis/_files/environment-xml.tsx
  docs/apis/_files/install-xml.tsx
  docs/apis/_files/lang.tsx
  docs/apis/_files/lib.tsx
  docs/apis/_files/locallib.tsx
  docs/apis/_files/pix-dir.tsx
  docs/apis/_files/readme.tsx
  docs/apis/_files/readme_moodle-txt.tsx
  docs/apis/_files/settings-php.tsx
  docs/apis/_files/styles-css.tsx
  docs/apis/_files/thirdpartylibs-xml.tsx
  docs/apis/_files/version-php.tsx
  docs/apis/_files/yui-dir.tsx
  docs/apis/plugintypes/antivirus/_files/scanner-php.tsx
  docs/apis/plugintypes/mod/_files/index-php.tsx
  docs/apis/plugintypes/mod/_files/mod_form-php.tsx
  docs/apis/plugintypes/mod/_files/view-php.tsx
  src/components.js
  src/components/ComponentFileSummary.js
Due: eslint --fix

[repo] Since Chip should be clickable
  src/components/Since.js
Due: eslint --fix

[docs] Migrate Antivirus plugintype docs
  data/migratedPages.yml
  docs/apis/plugintypes/antivirus/_files/scanner-php.mdx
  docs/apis/plugintypes/antivirus/_files/scanner-php.tsx
  docs/apis/plugintypes/antivirus/index.mdx
Due: eslint --fix

[repo] Fix coding style on related files
  src/components.js
  src/components/AcademyLink.js
  src/components/DeprecatedSince.js
  src/components/HomepageFeatures/index.js
  src/components/InvalidExample/index.js
  src/components/Since.js
  src/components/ValidExample/index.js
  src/lib/legacyDocLinks.js
  src/pages/index.js
  src/pages/versions.tsx
  src/remark/trackerLinks.js
  src/remark/trackerLinks.test.js
Due: eslint --fix

[docs] Fix migrated link
  general/development/tracker/guide.md
Due: markdownlint --fix

[docs] Simplify Component Summary data
  docs/_utils.tsx
  docs/apis/_files/amd-dir.tsx
  docs/apis/_files/backup-dir.tsx
  docs/apis/_files/changes.tsx
  docs/apis/_files/classes-dir.tsx
  docs/apis/_files/cli-dir.tsx
  docs/apis/_files/db-access-php.tsx
  docs/apis/_files/db-events-php.tsx
  docs/apis/_files/db-install-php.tsx
  docs/apis/_files/db-messages-php.tsx
  docs/apis/_files/db-mobile-php.tsx
  docs/apis/_files/db-renamedclasses-php.tsx
  docs/apis/_files/db-services-php.tsx
  docs/apis/_files/db-uninstall-php.tsx
  docs/apis/_files/db-upgrade-php.tsx
  docs/apis/_files/environment-xml.tsx
  docs/apis/_files/install-xml.tsx
  docs/apis/_files/lang.tsx
  docs/apis/_files/lib.tsx
  docs/apis/_files/locallib.tsx
  docs/apis/_files/pix-dir.tsx
  docs/apis/_files/readme.tsx
  docs/apis/_files/readme_moodle-txt.tsx
  docs/apis/_files/settings-php.tsx
  docs/apis/_files/styles-css.tsx
  docs/apis/_files/thirdpartylibs-xml.tsx
  docs/apis/_files/version-php.tsx
  docs/apis/_files/yui-dir.tsx
  docs/apis/plugintypes/antivirus/_files/scanner-php.tsx
  docs/apis/plugintypes/antivirus/index.mdx
  docs/apis/plugintypes/mod/_files/index-php.tsx
  docs/apis/plugintypes/mod/_files/mod_form-php.tsx
  docs/apis/plugintypes/mod/_files/view-php.tsx
  docs/apis/plugintypes/mod/index.mdx
  src/components/PluginFileSummary.js
  src/moodleBridge.tsx
Due: eslint --fix

[docs] Move subsystem to new subdir
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/db-access-php.mdx
  docs/apis/plugintypes/local/index.mdx
  docs/apis/subsystems/_category_.yml
  docs/apis/subsystems/access.md
  docs/apis/subsystems/files/browsing.md
  docs/apis/subsystems/files/index.md
  docs/apis/subsystems/files/internals.md
Due: markdownlint --fix

[docs] Move the common files to /apis
  docs/apis/_files/amd-dir.mdx
  docs/apis/_files/lang.mdx
  docs/apis/commonfiles/index.mdx
  docs/apis/plugintypes/antivirus/index.mdx
  docs/apis/plugintypes/local/index.mdx
Due: none

[docs] Migrate QBank plugin type docs
  data/migratedPages.yml
  docs/apis/plugintypes/qbank/index.mdx
Due: none

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[docs] community/credits: Migrate Credits docs
  data/migratedPages.yml
  general/community/credits.md
  general/community/credits/documentation.md
  general/community/credits/moodleorg.md
  general/community/credits/testing.md
  general/community/credits/thirdpartylibs.md
  sidebars/general.js
Due: eslint --fix, markdownlint --fix

[docs] moodleapp/*: Migrate Moodle App pages
  data/migratedPages.yml
  docs/apis/_files/db-mobile-php.mdx
  docs/guides/moodleapp/_files/Templates_downloaded_on_login.png
  docs/guides/moodleapp/_files/Templates_downloaded_when_requested.png
  docs/guides/moodleapp/customisation/index.md
  docs/guides/moodleapp/development/create-course-formats.md
  docs/guides/moodleapp/development/custom-push-notifications.md
  docs/guides/moodleapp/development/deep-linking.md
  docs/guides/moodleapp/development/network-debug.md
  docs/guides/moodleapp/development/plugins-development-guide.md
  docs/guides/moodleapp/development/plugins-upgrade-guide.md
  docs/guides/moodleapp/development/release-process.md
  docs/guides/moodleapp/development/scripts/index.md
  docs/guides/moodleapp/development/setup.md
  docs/guides/moodleapp/development/testing/acceptance-testing.md
  docs/guides/moodleapp/development/testing/index.md
  docs/guides/moodleapp/index.md
  docs/guides/moodleapp/overview.md
  docs/guides/moodleapp/translation.md
  project-words.txt
Due: markdownlint --fix

[docs] tracker/labels: Migrate tracker labels
  data/migratedPages.yml
  general/development/process/integration-review.md
  general/development/process/peer-review.md
  general/development/process/triage.md
  general/development/tracker/guide.md
  general/development/tracker/labels.md
Due: markdownlint --fix

[docs] Its and should typos. Some typography considerations.
  docs/guides/javascript/index.md
  docs/guides/moodleapp/customisation/custom-apps.md
  docs/guides/moodleapp/development/app-in-browser.md
  docs/guides/moodleapp/development/coding-style.md
  docs/guides/moodleapp/development/development-process.md
  docs/guides/moodleapp/development/network-debug.md
  docs/guides/moodleapp/development/setup.md
  docs/guides/moodleapp/development/testing/unit-testing.md
  docs/guides/moodleapp/overview.md
  general/community/roadmap.md
  general/development/policies/component-communication/index.md
  general/development/process/peer-review.md
  general/development/process/testing/qa.md
  general/development/tools/nodejs.md
  versioned_docs/version-4.0/guides/javascript/index.md
  versioned_docs/version-4.0/tools/nodejs.md
Due: markdownlint --fix

[repo] Add stylelint configuration
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

[repo] Fix style issues
  src/components/HomepageFeatures/index.js
  src/components/HomepageFeatures/styles.module.css
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix

[repo] Ensure that mdx files are linted too
  .lintstagedrc.json
Due: none

[repo] Add component spelling terms generated from components.json
  .github/workflows/update-moodle-metadata.yml
  cspell.config.js
  data/component-spelling.txt
  docs/apis.md
  package.json
  project-words.txt
  scripts/component-helper.js
Due: eslint --fix, markdownlint --fix

[repo] Add Moodle contributor spelling terms generated from git log
  .github/workflows/update-moodle-metadata.yml
  cspell.config.js
  data/moodle-contributors.txt
  project-words.txt
Due: eslint --fix

[docs] policies/security: Migrate Security docs
  data/migratedPages.yml
  general/development/policies/security/bruteforcing-login.md
  general/development/policies/security/bufferoverruns.md
  general/development/policies/security/commandline-injection.md
  general/development/policies/security/configinfo-leakage.md
  general/development/policies/security/crosssite-request-forgery.md
  general/development/policies/security/crosssite-scripting.md
  general/development/policies/security/dataloss.md
  general/development/policies/security/dos.md
  general/development/policies/security/index.md
  general/development/policies/security/info-leakage.md
  general/development/policies/security/insecure-config.md
  general/development/policies/security/session-fixation.md
  general/development/policies/security/socialengineering.md
  general/development/policies/security/sql-injection.md
  general/development/policies/security/unauthenticated-access.md
  general/development/policies/security/unauthorised-access.md
  general/development/process.md
  project-words.txt
Due: markdownlint --fix

Fix cspell config
  cspell.config.js
Due: eslint --fix

[docs] moodle.org/dev link
  general/community/intro.md
Due: markdownlint --fix

[docs] moodleapp/*: Fix wrong apostrophe characters
  docs/guides/moodleapp/customisation/remote-themes-upgrade-guide.md
  docs/guides/moodleapp/development/coding-style.md
  docs/guides/moodleapp/development/custom-push-notifications.md
  docs/guides/moodleapp/development/development-guide.md
  docs/guides/moodleapp/development/development-process.md
  docs/guides/moodleapp/development/plugins-development-guide.md
  docs/guides/moodleapp/development/plugins-upgrade-guide.md
  docs/guides/moodleapp/development/setup.md
  docs/guides/moodleapp/development/testing/unit-testing.md
  docs/guides/moodleapp/overview.md
Due: markdownlint --fix

[docs] moodleapp/faq: Migrate Moodle App FAQ
  data/migratedPages.yml
  docs/guides/moodleapp/faq.md
  docs/guides/moodleapp/index.md
  docs/guides/moodleapp/overview.md
  project-words.txt
Due: markdownlint --fix

[docs] moodleapp/development-guide: Migrate Moodle App Development Guide
  data/migratedPages.yml
  docs/guides/moodleapp/_files/application_lifecycle.jpg
  docs/guides/moodleapp/development/development-guide.md
  docs/guides/moodleapp/development/plugins-development-guide.md
  docs/guides/moodleapp/development/testing/unit-testing.md
  docs/guides/moodleapp/index.md
  docs/guides/moodleapp/overview.md
  project-words.txt
Due: markdownlint --fix

[docs] tracker/labels: Document contribfriendly label
  docs/guides/moodleapp/development/custom-push-notifications.md
  docs/guides/moodleapp/development/development-guide.md
  docs/guides/moodleapp/development/development-process.md
  docs/guides/moodleapp/development/plugins-upgrade-guide.md
  docs/guides/moodleapp/development/release-process.md
  docs/guides/moodleapp/development/setup.md
  docs/guides/moodleapp/development/testing/unit-testing.md
  docs/guides/moodleapp/faq.md
  docs/guides/moodleapp/overview.md
  general/development/tracker/labels.md
  project-words.txt
Due: markdownlint --fix

[repo] Add type hints for Node and CoreJS
  package.json
  yarn.lock
Due: none
