Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[Docs] Migrate plagiarism docs page
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/plagiarism.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] Migrate phpstorm docs page
  data/migratedPages.yml
  general/development/tools/phpstorm.md
  project-words.txt
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Switch to Algolia search
  config/algolia.js
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix

[docs] Migrate Assign subplugins
  data/migratedPages.yml
  docs/apis/plugintypes/assign/_files/submission_settings.php
  docs/apis/plugintypes/assign/feedback.md
  docs/apis/plugintypes/assign/index.md
  docs/apis/plugintypes/assign/submission.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] docs: Tidy up the Guides landing
  config/navbar.js
  docs/apis/_files/db-services-php.mdx
  docs/guides.md
  docs/intro.md
  sidebars/docs.js
  src/css/custom.css
Due: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Standardise docs pages to have an introduction without header
  docs/apis/plugintypes/antivirus/index.mdx
  docs/apis/plugintypes/blocks/index.md
  docs/apis/plugintypes/format/migration.md
  docs/apis/plugintypes/qbank/index.md
  docs/apis/subsystems/analytics/index.md
  docs/apis/subsystems/files/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Migrate plagiarism docs page
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/plagiarism.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate DML Documentation
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/dml/_exceptions/Dml_exceptions.png
  docs/apis/core/dml/ddl.md
  docs/apis/core/dml/drivers.md
  docs/apis/core/dml/exceptions.md
  docs/apis/core/dml/index.md
  docs/apis/core/index.md
  general/development/policies.md
  general/development/policies/codingstyle/_sql/sql_indentation.png
  general/development/policies/codingstyle/index.md
  general/development/policies/codingstyle/sql.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Output API and Output functions
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/db-services-php.mdx
  docs/apis/plugintypes/filter/index.md
  docs/apis/subsystems/output.md
  general/development/policies/security/crosssite-scripting.md
  general/development/policies/security/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] development: Automated code review
  cspell.config.js
  data/migratedPages.yml
  general/development/process.md
  general/development/tools/cibot.md
  general/development/tracker/labels.md
  project-words.txt
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Revert changes to cspell configuration
  cspell.config.js
Due: eslint --fix

[docs] Migrate plugin types page index
  data/migratedPages.yml
  docs/apis/commonfiles/index.mdx
  docs/apis/plugintypes/_category_.yml
  docs/apis/plugintypes/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Improve migrated page URL fixing
  migratedPages.js
Due: eslint --fix

[repo] Correct mdfix location in migration
  scripts/wikimedia-fetch.js
Due: eslint --fix

[docs] Migrate Favourite API
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/favourites/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update roadmap.md
  general/community/roadmap.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Meeting recording now available
  general/community/meetings/202206.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add redirect to new domain
  .gitignore
  .nojekyll
  docs/.gitignore
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_layouts/redirect.html
Due: none

Add baseurl
  docs/_layouts/redirect.html
Due: none

Update general/community/meetings/202206.md
  general/community/meetings/202206.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Use direct link to recording
  general/community/meetings/202206.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update meetings.md
  general/community/meetings.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Lint fix
  general/community/meetings.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

get_record example doesn't use an array for params
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate file conversion plugins
  data/migratedPages.yml
  docs/apis/plugintypes/fileconverter/_files/converter.md
  docs/apis/plugintypes/fileconverter/_files/converter.tsx
  docs/apis/plugintypes/fileconverter/index.md
  docs/apis/plugintypes/index.md
  docs/apis/subsystems/files/converter.md
  general/releases/3.3.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] fixes after review for Roles page
  docs/apis/subsystems/roles.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] migrate Roles page
  data/migratedPages.yml
  docs/apis/subsystems/_roles/Moodle-contexts-1.8.png
  docs/apis/subsystems/access.md
  docs/apis/subsystems/roles.md
  docs/guides/templates/index.md
  general/development/policies/security/unauthorised-access.md
  general/releases/1.7.md
  general/releases/1.9.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Hardening_new_Roles_system was merged into Roles
  data/migratedPages.yml
  docs/apis/subsystems/access.md
  general/development/policies/security/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Groups docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/_groups/groupsdb.png
  docs/apis/subsystems/group/index.md
  docs/apis/subsystems/groups.md
  general/development/policies/security/unauthorised-access.md
  general/releases/1.9.md
  general/releases/1.9/1.9.3.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Support moving/renaming links
  .markdownlint-cli2.cjs
  .markdownlint/fix-renamed-links.js
Due: eslint --fix

[docs] Migrate Form UX guidelines
  data/migratedPages.yml
  docs/apis/core/form/index.md
  general/development/policies/designing-usable-forms.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Forms API landing page
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/form/index.md
  general/development/policies/security/crosssite-request-forgery.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Form API Usage docs
  data/migratedPages.yml
  docs/apis/core/form/index.md
  docs/apis/core/form/usage.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Repeated form elements
  data/migratedPages.yml
  docs/apis/core/form/advanced/_category_.yml
  docs/apis/core/form/advanced/repeat-elements.md
  docs/apis/core/form/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate setAdvanced docs
  data/migratedPages.yml
  docs/apis/core/form/advanced/advanced-elements.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate From API Testing notes
  data/migratedPages.yml
  docs/apis/core/form/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update links to obsolete docs
  general/development/policies/security/crosssite-scripting.md
  general/development/policies/security/index.md
  general/releases/1.8.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
