Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Update app's remote themes upgrade guide
  general/app/upgrading/remote-themes-upgrade-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Implement CodeDiff component
  src/components.js
  src/components/CodeDiff/index.js
  src/components/CodeDiff/styles.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress

Fix app 3.9.5 release links
  general/app_releases/v3/v3.9.5.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update app's plugins upgrade guide
  general/app/upgrading/plugins-upgrade-guide.md
  src/components/CodeDiff/index.js
  src/components/CodeDiff/styles.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix documentation about default mobile settings
  general/app/overview.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix broken link
  general/app/faq.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix mobile plugins documentation
  general/app/development/plugins-development-guide/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update app's acceptance testing docs
  general/app/development/release-process.md
  general/app/development/testing/acceptance-testing.md
  general/app/upgrading/acceptance-tests-upgrade-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4127: Update remote themes documentation
  general/app/customisation/remote-themes.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update Roadmap following 4.1 release
  general/community/_roadmap/roadmap-summary.png
  general/community/roadmap.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Moodle App ver sion 4.1 and minor improvements
  general/app/development/release-process.md
  general/app_releases.md
  general/app_releases/v4/v4.1.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update page summary for landing page
  src/pages/index.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Add proposed wording for MDLSITE-4776 short arrays
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Remove desktop branch (deprecated) reference
  general/app/development/release-process.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migreate Writing a new WS
  data/migratedPages.yml
  docs/apis/_files/db-services-php.mdx
  docs/apis/subsystems/external/index.md
  docs/apis/subsystems/external/writing-a-service.md
  general/development/policies/deprecation.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update external/WS Docs
  docs/apis/_files/db-services-php.tsx
  docs/apis/subsystems/external/advanced/_category_.json
  docs/apis/subsystems/external/advanced/custom-services.md
  docs/apis/subsystems/external/description.md
  docs/apis/subsystems/external/files.md
  docs/apis/subsystems/external/functions.md
  docs/apis/subsystems/external/index.md
  docs/apis/subsystems/external/security.md
  docs/apis/subsystems/external/writing-a-service.md
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate WS Descriptions
  data/migratedPages.yml
  docs/apis/subsystems/external/description.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Backport external API guide
  versioned_docs/version-4.1/apis/subsystems/external/advanced/_category_.json
  versioned_docs/version-4.1/apis/subsystems/external/advanced/custom-services.md
  versioned_docs/version-4.1/apis/subsystems/external/description.md
  versioned_docs/version-4.1/apis/subsystems/external/files.md
  versioned_docs/version-4.1/apis/subsystems/external/functions.md
  versioned_docs/version-4.1/apis/subsystems/external/index.md
  versioned_docs/version-4.1/apis/subsystems/external/security.md
  versioned_docs/version-4.1/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate External Functions
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/db-services-php.mdx
  docs/apis/subsystems/external/functions.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Web_services
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/external/index.md
  general/app/overview.md
  general/development/policies.md
  general/releases/2.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate WS Files
  data/migratedPages.yml
  docs/apis/subsystems/external/files.md
  docs/apis/subsystems/external/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Upgrade H5P core and editor libraries to moodle-1.23
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update releases.md
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate WS Testing docs
  data/migratedPages.yml
  docs/apis/subsystems/external/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update WS unit testing docs
  docs/apis/subsystems/external/files.md
  docs/apis/subsystems/external/functions.md
  docs/apis/subsystems/external/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Mark a dupe as migrated
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/db-services-php.mdx
  docs/apis/subsystems/external/functions.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix miscellaneous spelling issues
  general/app/development/release-process.md
  general/app/development/testing/acceptance-testing.md
  general/app/upgrading/acceptance-tests-upgrade-guide.md
  general/app/upgrading/plugins-upgrade-guide.md
  general/app/upgrading/remote-themes-upgrade-guide.md
  general/app_releases/v4/v4.0.2.md
  general/app_releases/v4/v4.1.0.md
  general/development/abc/comments.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Atto docs
  data/migratedPages.yml
  docs/apis/_files/yui-dir.mdx
  docs/apis/plugintypes/atto/index.md
  docs/apis/plugintypes/index.md
  general/releases/2.7.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[docs] Update Atto subplugin docs
  docs/apis/plugintypes/atto/_examples/button.md
  docs/apis/plugintypes/atto/_examples/button.tsx
  docs/apis/plugintypes/atto/_examples/lib.md
  docs/apis/plugintypes/atto/_examples/lib.php
  docs/apis/plugintypes/atto/index.md
  src/moodleBridge.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Backport missed WS testing docs to 4.1
  versioned_docs/version-4.1/apis/subsystems/external/files.md
  versioned_docs/version-4.1/apis/subsystems/external/functions.md
  versioned_docs/version-4.1/apis/subsystems/external/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Clarify wording on the sesskey token
  general/development/process/security/penetration-testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix bug in coding style example
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Link MDLSITE reference for Array discussion
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add customfield API name
  docs/apis.md
  versioned_docs/version-4.1/apis.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Generate Third-party libraries from repository
  .github/workflows/update-moodle-metadata.yml
  data/legacy-libraries.json
  data/libraries.json
  general/community/credits/thirdpartylibs.md
  package.json
  scripts/librarian.mjs
  src/templates/thirdpartylibs/footer.md.tpl
  src/templates/thirdpartylibs/header.md.tpl
  src/templates/thirdpartylibs/other-libraries.md.tpl
  src/templates/thirdpartylibs/outdated-header.md.tpl
  yarn.lock
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Replace Box/Spout with OpenSpout
  data/legacy-libraries.json
  data/libraries.json
Due: none

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
