Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Update intro.md
  general/community/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Autogenerate the tools list
  .markdownlint-cli2.cjs
  general/development/tools.md
  general/development/tools/cibot.md
  general/development/tools/gha.md
  general/development/tools/index.md
  general/development/tools/mdk.md
  general/development/tools/nodejs.md
  general/development/tools/phpcs.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Calendar API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/calendar/_index/my_overview_sam_student.png
  docs/apis/subsystems/calendar/index.md
  docs/apis/subsystems/calendar/old-api/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] migrate PHPUnit page
  data/migratedPages.yml
  general/development/policies.md
  general/development/policies/codingstyle/index.md
  general/development/tools/phpunit.md
  general/releases/2.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate new features and ideas
  data/migratedPages.yml
  general/community/contribute.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix link to phpunt doc page.
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Auto-generate Community section sidebar
  .markdownlint-cli2.cjs
  data/migratedPages.yml
  general/community/channels.md
  general/community/code-of-conduct.md
  general/community/contribute.md
  general/community/credits/index.md
  general/community/intro.md
  general/community/meetings/index.md
  general/community/mission.md
  general/community/research.md
  general/community/roadmap.md
  general/development/process/testing/integrated-issues.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Auto-generate Process section sidebar
  .markdownlint-cli2.cjs
  data/migratedPages.yml
  general/community/channels.md
  general/development/policies/backporting.md
  general/development/process.md
  general/development/process/integration/clr.md
  general/development/process/integration/index.md
  general/development/process/peer-review.md
  general/development/process/release/index.md
  general/development/process/security/index.md
  general/development/process/testing/guide.md
  general/development/process/testing/index.md
  general/development/process/testing/integrated-issues.md
  general/development/process/testing/qa.md
  general/development/process/translation/index.md
  general/development/process/triage.md
  general/development/tracker/guide.md
  general/development/tracker/labels.md
  sidebars/general.js
  static/_redirects
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[Docs] Migrate Tag API
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/tag/index.md
  general/releases/3.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Starting to draft 'A better contribution' guides
  general/abc/comments.md
  general/abc/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Put ABC guide into position
  general/development/abc.md
  general/development/abc/comments.md
  general/development/gettingstarted.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adjust formatting of ABC guides
  general/development/abc.md
  general/development/abc/comments.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] Migrate Time API
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/time/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update docs/apis/subsystems/tag/index.md
  docs/apis/subsystems/tag/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

fixup! Update docs/apis/subsystems/tag/index.md
  docs/apis/commonfiles/tag.php/index.md
  docs/apis/subsystems/tag/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

fixup! [Docs] Migrate Time API
  docs/apis/subsystems/time/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

fixup! Update docs/apis/subsystems/tag/index.md
  docs/apis/subsystems/tag/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] migrate Behat pages
  data/migratedPages.yml
  docs/moodleapp/development/testing/acceptance-testing.md
  general/development/process/testing/index.md
  general/development/tools/behat/_index/Acceptance_testing_UI_2.5.png
  general/development/tools/behat/browsers.md
  general/development/tools/behat/index.md
  general/development/tools/behat/running.md
  general/development/tools/behat/writing.md
  general/releases/2.5.md
  general/releases/3.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fixes for review.
  data/migratedPages.yml
  docs/apis.md
  docs/apis/subsystems/check/index.md
  general/development/policies.md
  general/development/policies/codingstyle/index.md
  general/development/process.md
  general/development/process/testing/index.md
  general/development/tools/behat/_index/Acceptance_testing_UI_2.5.png
  general/development/tools/behat/_index/Acceptance_testing_UI_4.0.png
  general/development/tools/behat/browsers/index.md
  general/development/tools/behat/browsers/supportedbrowsers.md
  general/development/tools/behat/index.md
  general/development/tools/behat/running.md
  general/development/tools/behat/writing.md
  general/development/tracker/labels.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix broken link.
  docs/apis/subsystems/check/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update Overview
  general/community/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Undid change in plugin section
  general/community/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  general/development/policies/component-communication/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Correct function call details for component principles
  general/development/policies/component-communication/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add yarn fix as shortcut for standard lint
  package.json
  project-words.txt
Due: none

[repo] Run yarn fixes after migratedpages
  scripts/wikimedia-fetch.js
Due: eslint --fix

Minor fix after review
  general/development/tools/behat/browsers/supportedbrowsers.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Lint all markdown files when migratedPages changes
  .eslintrc.js
  .lintstagedrc.json
  .lintstagedrc.mjs
Due: eslint --fix

Reflect points from MDLSITE-4418 and add examples
  docs/apis/_files/upgrade-txt.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

Add remove state update to reactive
  docs/guides/javascript/reactive/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Updates for 402 minor release
  data/versions.json
  general/_releases/401_release_graph.png
  general/_releases/402_release_graph.png
  general/releases.md
  general/releases/3.11/3.11.8.md
  general/releases/3.9/3.9.15.md
  general/releases/4.0/4.0.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Fix links to moodledev.io/devdocs
  CONTRIBUTING.md
  static/manifest.json
  static/schema/projects.json
  static/schema/versions.json
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Updates for 402 minor release
  data/versions.json
  general/_releases/401_release_graph.png
  general/_releases/402_release_graph.png
  general/releases.md
  general/releases/3.11/3.11.8.md
  general/releases/3.9/3.9.15.md
  general/releases/4.0/4.0.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

More readable examples
  docs/apis/_files/upgrade-txt.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

[docs] Reflect points from MDLSITE-4418 and add examples (#285)
  docs/apis/_files/upgrade-txt.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

Migrate the "Moodle and PHP" page and related changes
  general/development/policies/php.md
  general/releases/3.11.md
  general/releases/4.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
