Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Migrate File usage in forms
  data/migratedPages.yml
  docs/apis/subsystems/files/index.md
  docs/apis/subsystems/form/index.md
  docs/apis/subsystems/form/usage/files.md
  docs/apis/subsystems/form/usage/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Rewrite form/files docs
  docs/apis/subsystems/form/index.md
  docs/apis/subsystems/form/usage/files.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Accessibility docs page tweaks
  general/development/policies/accessibility.md
  yarn.lock
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Migrate Academy course list to data as json
  data/academycourses.json
  src/academyCourses.js
  src/components/AcademyLink.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Add a link in the 4.0 devUpdate to plugin update course
  data/academycourses.json
  versioned_docs/version-4.1/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Typo fix
  src/components/AcademyLink.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Add docs on linking academy courses
  general/documentation/contributing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Correct example
  general/documentation/contributing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  docs/apis/subsystems/external/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update for 4.1.1 minor release
  data/versions.json
  general/_releases/4010_release_graph.png
  general/_releases/4011_release_graph.png
  general/releases.md
  general/releases/3.11/3.11.12.md
  general/releases/3.9/3.9.19.md
  general/releases/4.0/4.0.6.md
  general/releases/4.1/4.1.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
Due: none

Update task docs to cover mtrace_exception
  docs/apis/subsystems/task/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

docs: Fix dates for 3.6 release
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

docs: Fix dates for 3.7 release
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update release calendar for new release cadence
  general/development/process.md
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update releases.md
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update writing-a-service.md
  docs/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update WS docs for MDL-76583
  docs/apis/subsystems/external/functions.md
  docs/apis/subsystems/external/security.md
  docs/apis/subsystems/external/testing.md
  docs/apis/subsystems/external/writing-a-service.md
  docs/devupdate.md
  general/development/policies/component-communication/index.md
  sidebars/docs.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add syntax highlighting for gherkin
  config/prism.js
Due: eslint --fix

[docs] Add tips for writing Behat tests for Tiny plugins
  docs/apis/plugintypes/tiny/testing.md
  versioned_docs/version-4.1/apis/plugintypes/tiny/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add more test cases for tracker links
  src/remark/trackerLinks.test.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[repo] Ensure that multiple MDLs on the same line are processed correctly
  src/remark/trackerLinks.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

Add a placeholder in devupdate about the 4.2 quiz changes
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update support dates to match release dates.
  data/versions.json
  general/community/intro.md
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Include third-party lib changes in metadata update
  .github/workflows/update-moodle-metadata.yml
Due: none

[repo] Update Moodle Component metadata
  data/component-spelling.txt
  data/libraries.json
  data/master/components.json
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Docs Add comma in Releases
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update the versions info sections to match support dates.
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Added 4.1.1 minor release security announcements
  general/releases/3.11/3.11.12.md
  general/releases/3.9/3.9.19.md
  general/releases/4.0/4.0.6.md
  general/releases/4.1/4.1.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

PHP 8.0 is now required for Moodle 4.2
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix errors in writing-a-service.md
  docs/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs/4.1] Add WS fixes to 4.1 docs
  versioned_docs/version-4.1/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update another incorrect namespace in ws docs
  docs/apis/subsystems/external/description.md
  versioned_docs/version-4.1/apis/subsystems/external/description.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Replace mention of scheduled with adhoc
  docs/apis/subsystems/task/adhoc.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix spelling of serializable
  docs/apis/subsystems/task/adhoc.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDLSITE-6740 : Navigation menu to match moodle.org
  config/navbar.js
  src/css/custom.css
  src/theme/Navbar/index.js
  src/theme/Navbar/index.module.css
  static/img/arrow-left.svg
  static/img/arrow-r.svg
  static/img/search.svg
  static/img/waffle.svg
  static/img/waffle_mob.svg
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress

Move up schedules based on 4.1 retro
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

QA site preparation wording fixes
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Prepare for future PHP versions
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

include \core\check\result
  docs/apis/subsystems/check/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
