Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Migrate Module visibility and display
  data/migratedPages.yml
  docs/apis/plugintypes/mod/index.mdx
  docs/apis/plugintypes/mod/visibility.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] policies: Update policies.md
  general/development/policies.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add a link to the web service naming convention.
  docs/apis/subsystems/external/description.md
  docs/apis/subsystems/external/writing-a-service.md
  general/development/policies/naming.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Improve module visibility docs
  docs/apis/plugintypes/mod/visibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Linting fixes
  general/development/abc/faq.md
  general/development/policies/security/index.md
  general/development/tools/xmldb.md
  general/development/tracker.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Completely delete Pull X.Y fields for out of support branches
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-78288 formslib: Document new filter_shown_headers function in Forms API
  docs/apis/subsystems/form/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-78288 formslib: filter_shown_headers() dev updates
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Content style guide
  general/contentstyleguide.md
  general/contentstyleguide/01-voice/_category_.yml
  general/contentstyleguide/01-voice/contentprinciples.md
  general/contentstyleguide/01-voice/values.md
  general/contentstyleguide/01-voice/voiceandtone.md
  general/contentstyleguide/01-voice/whoweare.md
  general/contentstyleguide/02-style/_category_.yml
  general/contentstyleguide/02-style/grammar.md
  general/contentstyleguide/02-style/translation.md
  general/contentstyleguide/02-style/wordlist.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] devupdate: fix example for changing activity icon colors
  versioned_docs/version-4.1/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Developer meeting date change and agenda publication
  general/community/meetings/202307.md
  general/community/meetings/202308.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] Update assignment submit capability name
  docs/apis/subsystems/enrol.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Plugin contribution main page
  data/migratedPages.yml
  general/community/intro.md
  general/community/plugincontribution/_index/plugin-contribution-workflow.png
  general/community/plugincontribution/_index/plugin-contribution-workflow.svg
  general/community/plugincontribution/index.md
  general/development/gettingstarted.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Format improvements to Plugin contribution page
  general/community/plugincontribution/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Plugin contribution docs
  .vscode/settings.json
  data/migratedPages.yml
  docs/apis/_files/changes.mdx
  docs/apis/_files/readme.mdx
  docs/apis/_files/styles-css.mdx
  docs/apis/commonfiles/index.mdx
  general/community/plugincontribution/_codeprechecks/plugin-codeprechecks-details.png
  general/community/plugincontribution/_codeprechecks/plugin-codeprechecks-error.png
  general/community/plugincontribution/_codeprechecks/plugin-codeprechecks-success.png
  general/community/plugincontribution/_documentation/infobox_plugin.png
  general/community/plugincontribution/_guardians/plugins-guardian-logo.png
  general/community/plugincontribution/adoption.md
  general/community/plugincontribution/checklist.md
  general/community/plugincontribution/codeprechecks.md
  general/community/plugincontribution/documentation.md
  general/community/plugincontribution/guardians.md
  general/community/plugincontribution/index.md
  general/community/plugincontribution/pluginsdirectory.md
  general/community/plugincontribution/pluginsdirectoryapi.md
  general/community/plugincontribution/qaprechecks.md
  general/community/plugincontribution/thirdpartylibraries.md
  general/development/process/peer-review.md
  project-words.txt
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add Directory subsection to Plugin contribution
  data/migratedPages.yml
  general/community/plugincontribution/guardians/index.md
  general/community/plugincontribution/guardians/qaprechecks.md
  general/community/plugincontribution/index.md
  general/community/plugincontribution/pluginsdirectory/api.md
  general/community/plugincontribution/pluginsdirectory/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add guardians subsection to Plugin contribution
  data/migratedPages.yml
  general/community/plugincontribution/guardians/_index/plugins-guardian-logo.png
  general/community/plugincontribution/guardians/index.md
  general/community/plugincontribution/guardians/qaprechecks.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Apply suggestions from code review
  .vscode/settings.json
  general/community/plugincontribution/adoption.md
  general/community/plugincontribution/checklist.md
  general/community/plugincontribution/codeprechecks.md
  general/community/plugincontribution/documentation.md
  general/community/plugincontribution/guardians.md
  general/community/plugincontribution/pluginsdirectory.md
  general/community/plugincontribution/pluginsdirectoryapi.md
  general/community/plugincontribution/qaprechecks.md
  general/community/plugincontribution/thirdpartylibraries.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document sr_text output method
  docs/apis/subsystems/output.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Append a suffix to the completion rules
  docs/apis/core/activitycompletion/index.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Updates for 4.2.2 minor release
  data/versions.json
  general/_releases/4021_release_graph.png
  general/_releases/4022_release_graph.png
  general/releases.md
  general/releases/3.11/3.11.16.md
  general/releases/3.9/3.9.23.md
  general/releases/4.0/4.0.10.md
  general/releases/4.1/4.1.5.md
  general/releases/4.2/4.2.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Fix data/versions.json
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

added next meeting month and updated with recording link and updated agenda.
  general/community/meetings/202308.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Whitespace fix
  general/community/meetings/202308.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Added 4.2.2 minor release security announcements
  general/releases/3.11/3.11.16.md
  general/releases/3.9/3.9.23.md
  general/releases/4.0/4.0.10.md
  general/releases/4.1/4.1.5.md
  general/releases/4.2/4.2.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix dev meeting link for August
  general/community/meetings/202308.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[docs] Update MIME icons with SVG
  data/component-spelling.txt
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

JavaScript preferences developer update (4.3).
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Whitespace fix
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update xmldb.md
  general/development/tools/xmldb.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/component-spelling.txt
  data/libraries.json
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add notes for MDL-79064 on getString vs get_string
  docs/devupdate.md
  docs/guides/javascript/_examples/str.js
  docs/guides/javascript/index.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update roadmap to reflect 2023.I3 goals
  general/community/roadmap.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
