Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

[docs] 4.1 major release - added requirements and notes placeholders
  data/versions.json
  general/releases.md
  general/releases/4.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] VideoJS version update to 7.20.3
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-76334 upgrade phpxmlrpc library to 4.8.1
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

MDL-75479: Bump phpCAS version to 1.6.0
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update Bennu to version 0.2
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Added note regarding variable naming
  docs/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] 4.1 - fix some release notes spacing
  general/releases/4.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] 405 - added minor release security announcements
  general/releases/3.11/3.11.11.md
  general/releases/3.9/3.9.18.md
  general/releases/4.0/4.0.5.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

typo corrected
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

December 2022 Deveoper meeting page created and note of next meeting added to index.
  general/community/meetings/202212.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Whitespace fix
  general/community/meetings/202212.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add policy details about last week managing of held issues
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update docs/guides/templates/index.md
  docs/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

removed extra newline
  docs/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Added note regarding variable naming (#443)
  docs/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] VideoJS version update to 7.20.3 (#438)
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

dec dev meetting
  general/community/meetings/202212.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add links to PHP 8.2/8.3 epics
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Core availability API: code example of setting date availability
  docs/apis/subsystems/availability/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add 4.1 QA cycle testers
  general/community/credits/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Complete 4.1 release notes highlights
  general/releases/4.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Remove unnecessary reference to Safari 7
  general/releases/4.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Major versions without minors should be listed in toc
  sidebars/releaseNotes.js
Due: eslint --fix

[docs] Update release graph for 4.1 release
  general/_releases/4010_release_graph.png
  general/_releases/405_release_graph.png
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Remove duplicate phrase
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Replace Box/Spout with OpenSpout
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

the december meeting has been postponed to January 2023 so I'm making the necessary changes here.
  general/community/meetings/202301.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Link to appropriate docs from review checklist.
  general/development/process/peer-review.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] The december meeting has been postponed to January 2023
  general/community/meetings/202301.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump caniuse browser data
  yarn.lock
Due: none

[repo] Drop the plugin-image-zoom plugin as it is abandoned
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix

[repo] Remove mdx-mermaid. Now included in docusaurus
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix

[repo] Migrate Yarn to Yarn2
  .gitignore
  .nvmrc
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  netlify.toml
  package.json
  yarn.lock
Due: none

Disable netlify plugin cache
  netlify.toml
  package.json
  yarn.lock
Due: none

[docs] Note change in build to enable corepack
  general/documentation/installation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add yarn interactive tools plugin
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
Due: none

[repo] Bump version of inquirer
  package.json
  scripts/wikimedia-fetch.mjs
  yarn.lock
Due: eslint --fix

[docs] Fix existing lint violations
  docs/apis/subsystems/access.md
  docs/apis/subsystems/output.md
  general/app_releases/v1.x.md
  general/app_releases/v3/v3.1.0.md
  general/app_releases/v3/v3.9.5.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
