Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

Final deprecation policy update to keep method signature
  general/development/policies/deprecation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Updates to release notes and graph for 4.5.3 and friends
  general/_releases/4052_release_graph.png
  general/_releases/4053_release_graph.png
  general/releases.md
  general/releases/4.4/4.4.7.md
  general/releases/4.5/4.5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/component-spelling.txt
  data/libraries.json
  data/main/components.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update AI Provider plugin documentation for Pre-defined Models
  docs/apis/plugintypes/ai/provider.md
  docs/apis/subsystems/ai/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Link to March meeting
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Removing upcoming meeting link
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

recording link, removing check this time in your location link
  general/community/meetings/2025/03.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] Adding new Writing for Accessibility page
  general/contentguidelines/01-productwriting/_files/course_index.png
  general/contentguidelines/01-productwriting/_files/empty_state.png
  general/contentguidelines/01-productwriting/writingforaccessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 4.5.3 and friends
  general/releases/4.1/4.1.17.md
  general/releases/4.3/4.3.11.md
  general/releases/4.4/4.4.7.md
  general/releases/4.5/4.5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Clarify precautions around hooks which dispatch on install/upgrade
  docs/apis/core/hooks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Further clarify final deprecation procedure
  general/development/policies/deprecation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Clarify meaning of public for deprecation policies
  general/development/policies/deprecation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document the final removal process
  general/development/policies/deprecation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

Meeting recording time-stamps
  general/community/meetings/2025/03.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix data-attributes BS4 compat examples
  docs/guides/bs5migration/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update code owners
  CODEOWNERS
Due: none

[data] Add minors per schedule
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] policies: Update SCSS deprecation policy
  general/development/policies/deprecation/scss-deprecation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-81714 Update stored progress API example
  docs/apis/subsystems/output/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 4.5.4 and friends
  data/versions.json
  general/_releases/4053_release_graph.png
  general/_releases/5000_release_graph.png
  general/releases.md
  general/releases/4.1/4.1.18.md
  general/releases/4.3/4.3.12.md
  general/releases/4.4/4.4.8.md
  general/releases/4.5/4.5.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Add link and list of 5.0 QA testers
  general/community/credits/testing.md
  general/development/process/testing/qa.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 5.0
  data/versions.json
  general/releases.md
  general/releases/5.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Informing about final removal of Atto in 5.0
  docs/apis/plugintypes/atto/index.md
  versioned_docs/version-4.1/apis/plugintypes/atto/index.md
  versioned_docs/version-4.3/apis/plugintypes/atto/index.md
  versioned_docs/version-4.4/apis/plugintypes/atto/index.md
  versioned_docs/version-4.5/apis/plugintypes/atto/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add PHPUnit version for Moodle 5.0
  general/development/tools/phpunit/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 4.5.4 and friends
  general/releases/4.1/4.1.18.md
  general/releases/4.3/4.3.12.md
  general/releases/4.4/4.4.8.md
  general/releases/4.5/4.5.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix typos on external services declaration examples
  docs/apis/subsystems/external/description.md
  docs/apis/subsystems/external/writing-a-service.md
  versioned_docs/version-4.1/apis/subsystems/external/description.md
  versioned_docs/version-4.1/apis/subsystems/external/writing-a-service.md
  versioned_docs/version-4.3/apis/subsystems/external/description.md
  versioned_docs/version-4.3/apis/subsystems/external/writing-a-service.md
  versioned_docs/version-4.4/apis/subsystems/external/description.md
  versioned_docs/version-4.4/apis/subsystems/external/writing-a-service.md
  versioned_docs/version-4.5/apis/subsystems/external/description.md
  versioned_docs/version-4.5/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix typo in code example
  docs/apis/subsystems/files/index.md
  versioned_docs/version-4.1/apis/subsystems/files/index.md
  versioned_docs/version-4.3/apis/subsystems/files/index.md
  versioned_docs/version-4.4/apis/subsystems/files/index.md
  versioned_docs/version-4.5/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[data] Add 5.0.1, 4.5.6, 4.4.10, 4.1.20
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Changing the Upgrading link so it goes to the 4.5 docs
  general/releases/4.5.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update Minimum PHP verion for Moodle 5.0+
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] Updating content principles and grammar, and index to update the description of these guidelines.
  general/contentguidelines/01-productwriting/contentprinciples.md
  general/contentguidelines/02-styleguide/grammar.md
  general/contentguidelines/02-styleguide/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

Fixed sentence issues.
  docs/apis/subsystems/admin/index.md
  versioned_docs/version-4.1/apis/subsystems/admin/index.md
  versioned_docs/version-4.3/apis/subsystems/admin/index.md
  versioned_docs/version-4.4/apis/subsystems/admin/index.md
  versioned_docs/version-4.5/apis/subsystems/admin/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding 5.1 release date
  data/versions.json
  general/releases/5.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Correct path to 4.2 docs
  docs/guides/javascript/modal/index.md
  versioned_docs/version-4.3/guides/javascript/modal/index.md
  versioned_docs/version-4.4/devupdate.md
  versioned_docs/version-4.4/guides/javascript/modal/index.md
  versioned_docs/version-4.5/guides/javascript/modal/index.md
  versioned_docs/version-5.0/guides/javascript/modal/index.md
  versionsArchived.json
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update references to Moodle 5.0
  docs/devupdate.md
  docs/intro.md
  general/releases/5.0.md
  nextVersion.js
  static/_redirects
  versioned_docs/version-5.0/intro.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
