Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Update the final deprecation policy
  general/development/policies/deprecation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update the wording for the "Last week before the release"
  general/development/process/integration/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix wording for future non-LTS release in release state summary
  src/components/ReleaseStateSummary/index.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress

Fix release information for 5.0 dev docs intro page
  docs/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add updating of `docs/intro.md` when forking devdocs version
  general/documentation/forking-versions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update releases.md
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4616 Add 4.5 style related docs
  general/app/customisation/remote-themes.md
  general/app/upgrading/plugins-upgrade-guide.md
  general/app/upgrading/remote-themes-upgrade-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update thirdpartylibraries.md
  general/community/plugincontribution/thirdpartylibraries.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Devdocs Bootstrap font utilities refactor
  docs/guides/bs5migration/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Manually backport #1151
  versioned_docs/version-4.5/apis/plugintypes/ai/placement.md
  versioned_docs/version-4.5/guides/javascript/comboboxsearch/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix links to 4.2 docs
  docs/guides/javascript/modal/index.md
  versioned_docs/version-4.3/guides/javascript/modal/index.md
  versioned_docs/version-4.4/devupdate.md
  versioned_docs/version-4.4/guides/javascript/modal/index.md
  versioned_docs/version-4.5/guides/javascript/modal/index.md
  versionsArchived.json
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[site] Link 4.2 to permalinked site
  versionsArchived.json
Due: none

Release notes for 4.5.0
  general/app_releases.md
  general/app_releases/v4/v4.5.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[site] Redirect docs/* to next version
  static/_redirects
Due: none

[general] Create November 2024 meeting
  general/community/meetings/2024/11.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update release process for app
  general/development/process-moodleapp/release.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Devdocs Bootstrap .rounded-[sm|lg] refactor
  docs/guides/bs5migration/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] AI: Update AI subsystem documentation (MDL-83403) [5.0]
  docs/apis/subsystems/ai/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] AI: Update AI subsystem documentation (MDL-83403) [4.5]
  versioned_docs/version-4.5/apis/subsystems/ai/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Devdocs Bootstrap .sr-only refactor
  docs/guides/bs5migration/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump libxmljs2 to latest
  package.json
  yarn.lock
Due: none

[docs] Fix active navbar item selection
  config/navbar.js
  sidebars/docs.js
Due: eslint --fix

[site] Promote App and Content Guidelines to navbar
  config/navbar.js
  sidebars/docs.js
Due: eslint --fix

[site] Rename Process to Processes
  config/navbar.js
Due: eslint --fix

[docs] Fix bug in upgradenotes sidebar entry
  sidebars/general.js
Due: eslint --fix

[docs] Promote Documentation docs & Content guidelines to new Writing navbar
  config/navbar.js
  sidebars/docs.js
Due: eslint --fix

[docs] Promote release notes to Navbar
  config/navbar.js
  sidebars/docs.js
Due: eslint --fix

[docs] Add docs for routing engine
  docs/apis/subsystems/routing/index.md
  docs/apis/subsystems/routing/parameters.md
  docs/apis/subsystems/routing/responses.md
  docs/apis/subsystems/routing/testing.md
  versioned_docs/version-4.5/apis/subsystems/routing/index.md
  versioned_docs/version-4.5/apis/subsystems/routing/parameters.md
  versioned_docs/version-4.5/apis/subsystems/routing/responses.md
  versioned_docs/version-4.5/apis/subsystems/routing/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document named_templates
  docs/apis/subsystems/output/index.md
  docs/guides/templates/index.md
  versioned_docs/version-4.1/guides/templates/index.md
  versioned_docs/version-4.3/apis/subsystems/output/index.md
  versioned_docs/version-4.3/guides/templates/index.md
  versioned_docs/version-4.4/apis/subsystems/output/index.md
  versioned_docs/version-4.4/guides/templates/index.md
  versioned_docs/version-4.5/apis/subsystems/output/index.md
  versioned_docs/version-4.5/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Miscellanous output docs tidyups
  docs/guides/templates/index.md
  versioned_docs/version-4.1/guides/templates/index.md
  versioned_docs/version-4.3/apis/subsystems/output/index.md
  versioned_docs/version-4.3/guides/templates/index.md
  versioned_docs/version-4.4/apis/subsystems/output/index.md
  versioned_docs/version-4.4/guides/templates/index.md
  versioned_docs/version-4.5/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Plugintype and API docs for SMS subsystem
  docs/apis/plugintypes/sms/index.md
  docs/apis/subsystems/sms/index.md
  versioned_docs/version-4.5/apis/plugintypes/sms/index.md
  versioned_docs/version-4.5/apis/subsystems/sms/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update Inplace editable docs with new events and template
  docs/apis/subsystems/output/inplace.md
  versioned_docs/version-4.3/apis/subsystems/output/inplace.md
  versioned_docs/version-4.4/apis/subsystems/output/inplace.md
  versioned_docs/version-4.5/apis/subsystems/output/inplace.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update inplace editable docs with update events
  docs/apis/subsystems/output/inplace.md
  versioned_docs/version-4.3/apis/subsystems/output/inplace.md
  versioned_docs/version-4.4/apis/subsystems/output/inplace.md
  versioned_docs/version-4.5/apis/subsystems/output/inplace.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update PHP Version Support statement (MDLSITE-7677)
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md $plugin->incompatible
  docs/apis/commonfiles/version.php/index.md
  versioned_docs/version-4.1/apis/commonfiles/version.php/index.md
  versioned_docs/version-4.3/apis/commonfiles/version.php/index.md
  versioned_docs/version-4.4/apis/commonfiles/version.php/index.md
  versioned_docs/version-4.5/apis/commonfiles/version.php/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Update link presentation for November 2024 meeting
  general/community/meetings/2024/11.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] January 2025 meeting
  general/community/meetings/2025/01.md
  general/community/meetings/2025/_category_.yml
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
