Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Leave a line between jsx and mdx
  docs/apis/plugintypes/customfield/index.md
  general/development/policies/php.md
  versioned_docs/version-4.1/apis/plugintypes/customfield/index.md
  versioned_docs/version-4.2/apis/plugintypes/customfield/index.md
  versioned_docs/version-4.3/apis/plugintypes/customfield/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Do not use JS comments in the middle of a react component
  docs/apis/plugintypes/enrol/index.md
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/repository/index.md
  versioned_docs/version-4.1/apis/plugintypes/enrol/index.md
  versioned_docs/version-4.1/apis/plugintypes/format/index.md
  versioned_docs/version-4.1/apis/plugintypes/repository/index.md
  versioned_docs/version-4.2/apis/plugintypes/enrol/index.md
  versioned_docs/version-4.2/apis/plugintypes/format/index.md
  versioned_docs/version-4.2/apis/plugintypes/repository/index.md
  versioned_docs/version-4.3/apis/plugintypes/enrol/index.md
  versioned_docs/version-4.3/apis/plugintypes/format/index.md
  versioned_docs/version-4.3/apis/plugintypes/repository/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Do not use curly braces in markdown
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/repository/index.md
  docs/guides/javascript/index.md
  versioned_docs/version-4.1/apis/plugintypes/format/index.md
  versioned_docs/version-4.1/apis/plugintypes/repository/index.md
  versioned_docs/version-4.1/guides/javascript/index.md
  versioned_docs/version-4.2/apis/plugintypes/format/index.md
  versioned_docs/version-4.2/apis/plugintypes/repository/index.md
  versioned_docs/version-4.2/guides/javascript/index.md
  versioned_docs/version-4.3/apis/plugintypes/format/index.md
  versioned_docs/version-4.3/apis/plugintypes/repository/index.md
  versioned_docs/version-4.3/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix various MDX issues
  docs/apis/subsystems/favourites/index.md
  docs/guides/upgrade/index.md
  docs/intro.md
  general/app/development/development-guide.md
  general/app_releases/v2/v2.0.md
  general/app_releases/v2/v2.2.md
  general/app_releases/v2/v2.3.md
  general/development/tools/mdk.md
  general/releases.md
  general/releases/3.10/3.10.5.md
  general/releases/3.11/3.11.1.md
  general/releases/3.8.md
  general/releases/3.9/3.9.8.md
  general/releases/4.0/4.0.6.md
  general/releases/4.1/4.1.1.md
  versioned_docs/version-4.1/apis/subsystems/favourites/index.md
  versioned_docs/version-4.1/devupdate.md
  versioned_docs/version-4.1/guides/upgrade/index.md
  versioned_docs/version-4.2/apis/subsystems/favourites/index.md
  versioned_docs/version-4.2/guides/upgrade/index.md
  versioned_docs/version-4.3/apis/subsystems/favourites/index.md
  versioned_docs/version-4.3/guides/upgrade/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Third-party library generator should not use gfm autolinks
  general/community/credits/thirdpartylibs.md
  scripts/librarian.mjs
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Do not use gfm autolinks
  general/app/development/link-handling/deep-linking.md
  general/app/development/plugins-development-guide/index.md
  general/app/development/scripts/gulp-push.md
  general/app/upgrading/plugins-upgrade-guide.md
  general/app_releases/v1.x.md
  general/app_releases/v2/v2.8.md
  general/app_releases/v3/v3.1.3.md
  general/app_releases/v3/v3.2.0.md
  general/app_releases/v3/v3.2.1.md
  general/app_releases/v3/v3.3.0.md
  general/app_releases/v3/v3.4.0.md
  general/app_releases/v3/v3.4.1.md
  general/app_releases/v4/v4.0.0.md
  general/community/plugincontribution/guardians/index.md
  general/development/policies/security/crosssite-request-forgery.md
  general/development/policies/security/sql-injection.md
  general/development/process/testing/guide.md
  general/development/process/triage.md
  general/development/tools/nodejs.md
  general/development/tracker/guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update remark plugins for mdx2
  src/remark/moodleBanner.js
  src/remark/trackerLinks.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[repo] Bump NodeJS version
  .github/workflows/fetch-obsolete-pages.yml
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/test-deploy.yml
  .github/workflows/update-moodle-metadata.yml
  .github/workflows/update-wikimedia.yml
Due: none

[repo] Fix mobile navbar issues
  config/navbar.js
  src/theme/Navbar/Logo/index.js
  src/theme/Navbar/index.js
  src/theme/Navbar/index.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress

[repo] Bump yarn
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

[repo] Update to Docusaurus 3
  config/prism.js
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix

[repo] Tidy dependencies
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix

[repo] Bump mdlint
  .markdownlint-cli2.cjs
  docs/apis/plugintypes/assign/feedback.md
  docs/apis/plugintypes/assign/submission.md
  docs/apis/plugintypes/atto/index.md
  docs/apis/plugintypes/repository/index.md
  package.json
  yarn.lock
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump cspell
  general/app_releases/v4/v4.3.0.md
  general/contentguidelines/01-productwriting/emptystates.md
  package.json
  project-words.txt
  yarn.lock
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump all workflows
  .github/workflows/fetch-obsolete-pages.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/test-deploy.yml
  .github/workflows/update-moodle-metadata.yml
  .github/workflows/update-wikimedia.yml
Due: none

[docs] Tidy up the devupdate to prioritise dev docs
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Correct atto example filetype
  docs/apis/plugintypes/atto/_examples/button.tsx
  versioned_docs/version-4.2/apis/plugintypes/atto/_examples/button.tsx
  versioned_docs/version-4.3/apis/plugintypes/atto/_examples/button.tsx
Due: eslint --fix

[docs] Improve wording for backport policy
  general/development/policies/backporting.md
  general/development/policies/deprecation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Devdocs Bootstrap forms refactor
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

placeholder variable fixed in query example
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Revert "Merge pull request #854 from roland04/devdocs-bootstrap-forms"
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix missing description parameters in external_value constructor all
  docs/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Improvements from code review
  docs/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Removed wrong VALUE_DEFAULT argument
  docs/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Shortened lines and typo
  docs/apis/subsystems/external/writing-a-service.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Created page for February meeting and change dates in Index
  general/community/meetings/202311.md
  general/community/meetings/202402.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

PHP 8.1 is required for Moodle 4.4 and up
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Devdocs Bootstrap badges refactor
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Devdocs Bootstrap media refactor
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Prevent admonition overlapping custom components.
  src/css/custom.css
Due: stylelint --allow-empty-input --fix

[docs] api: Fix string-deprecation admonition closing tag.
  general/projects/api/string-deprecation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Remove duplicated header for BS5
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Dev update BS5 reorganization
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add global definition of $CFG
  docs/apis/subsystems/external/testing.md
  versioned_docs/version-4.1/apis/subsystems/external/testing.md
  versioned_docs/version-4.2/apis/subsystems/external/testing.md
  versioned_docs/version-4.3/apis/subsystems/external/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add intellectual property rights section
  general/community/plugincontribution/checklist.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add note to function deprecation about unit tests
  general/development/policies/deprecation/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix path to directory containing file converter plugins
  docs/apis/plugintypes/fileconverter/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
