Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

[docs] moodleapp/translation: Move it to general translation docs
  data/migratedPages.yml
  docs/moodleapp/development/development-guide.md
  general/development/process/translation/docs.md
  general/development/process/translation/faq.md
  general/development/process/translation/moodleapp.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] moodleapp/release-process: Improve texts on page
  docs/moodleapp/development/release-process.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update URL for new URL
  .env.default
  docusaurus.config.js
Due: eslint --fix

[repo] Add lighthouse report
  .github/workflows/lighthouse-report.yml
  .github/workflows/lighthouserc.json
  scripts/format-lighthouse-score.mjs
Due: eslint --fix

[repo] Fix lighthouse config
  .github/workflows/lighthouse-report.yml
Due: none

[repo] Update Lighthouse report URIs
  .github/workflows/lighthouse-report.yml
Due: none

[repo] Fix lighthouse report generator
  .github/workflows/lighthouse-report.yml
Due: none

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Enrolment Review fixes
  docs/apis/plugintypes/enrol/_examples/access.php
Due: none

[repo] Switch to commit-specific wait-for-netlify alternative
  .github/workflows/lighthouse-report.yml
Due: none

[docs] migrate blocks plugin page
  data/migratedPages.yml
  docs/apis/plugintypes/blocks/_examples/access.php
  docs/apis/plugintypes/blocks/_examples/block_pluginname.php
  docs/apis/plugintypes/blocks/_examples/edit_form.php
  docs/apis/plugintypes/blocks/_examples/pluginskel_recipe.yaml
  docs/apis/plugintypes/blocks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Correct old Github IO URIs to moodledev.io
  CONTRIBUTING.md
  static/manifest.json
  static/schema/projects.json
  static/schema/versions.json
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Lighthouse report missing output
  .github/workflows/lighthouse-report.yml
Due: none

[repo] Lighthouse fix typo
  .github/workflows/lighthouse-report.yml
Due: none

Fix broken link, I think.
  general/development/process/integration-review.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add copy from Julia
  src/components/HomepageFeatures/index.js
  src/components/HomepageFeatures/styles.module.css
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress

[repo] Improve performance of font loading
  src/css/custom.css
  src/pages/index.module.css
Due: stylelint --allow-empty-input --fix

[repo] Adjust breakpoints
  src/css/custom.css
  src/pages/index.module.css
Due: stylelint --allow-empty-input --fix

[repo] Start of front-page tidy-up
  .editorconfig
  config/footer.js
  config/navbar.js
  docusaurus.config.js
  general/community/intro.md
  src/components/HomepageFeatures/index.js
  src/components/HomepageFeatures/styles.module.css
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
  static/font/DMSerifDisplay-Regular.woff2
  static/font/OpenSans-Italic-VariableFont_wdth,wght.woff2
  static/font/OpenSans-VariableFont_wdth,wght.woff2
  static/img/Moodle.svg
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Align color mode button
  src/css/custom.css
  src/theme/ColorModeToggle/index.js
  src/theme/ColorModeToggle/index.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress

Update policies.md
  general/development/policies.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Amend 'instead instead.'
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Drag and drop
  general/development/process/translation/maintaining.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Correct typo: Drag and drop
  general/development/process/translation/maintaining.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Typo fix: Amend 'instead instead.'
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] general: Correct version that Boost/Classic were introduced
  general/development/policies.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Spell JavaScript correctly.
  docs/apis/_files/amd-dir.mdx
  docs/apis/_files/yui-dir.mdx
  docs/apis/plugintypes/filter/index.md
  docs/apis/plugintypes/format/index.md
  docs/guides/javascript/reactive/index.md
  docs/moodleapp/development/development-guide.md
  docs/moodleapp/development/plugins-development-guide/index.md
  docs/moodleapp/development/release-process.md
  docs/moodleapp/overview.md
  general/community/credits/thirdpartylibs.md
  general/development/policies.md
  general/development/policies/accessibility.md
  general/development/policies/codingstyle/index.md
  general/development/policies/component-communication/index.md
  general/development/policies/naming.md
  general/development/policies/security/index.md
  general/development/process/peer-review.md
  general/releases/2.0.md
  general/releases/2.9.md
  versioned_docs/version-4.0/policy/naming.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] JavaScript guide: Normalise links
  docs/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Normalise case of JavaScript
  docs/moodleapp/development/plugins-development-guide/index.md
  general/app_releases/v1.x.md
  general/app_releases/v3/v3.5.2.md
  general/app_releases/v4/v4.0.0.md
  general/releases/1.9/1.9.3.md
  general/releases/2.3.md
  general/releases/2.6.md
  general/releases/2.7/2.7.4.md
  general/releases/2.8/2.8.2.md
  general/releases/2.9.md
  general/releases/3.10/3.10.7.md
  general/releases/3.11/3.11.3.md
  general/releases/3.2.md
  general/releases/3.2/3.2.2.md
  general/releases/3.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add markdownlint rule for Trademarked/canonical words
  .markdownlint-cli2.cjs
  .markdownlint/cased-words.js
  .vscode/settings.json
Due: eslint --fix

[repo] Update system bug issue template
  .github/ISSUE_TEMPLATE/system-bug.yml
Due: none

[repo] Remove GitHub links from Navbar
  config/navbar.js
Due: eslint --fix

[repo] Temporarily remove Versions dropdown
  config/navbar.js
Due: eslint --fix

[repo] Tidy up Workflow names to make them clearer
  .github/workflows/deploy.yml
  .github/workflows/fetch-obsolete-pages.yml
  .github/workflows/label-new-issues.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/new-issues.yml
  .github/workflows/test-deploy.yml
  .github/workflows/update-moodle-metadata.yml
  .github/workflows/update-wikimedia.yml
Due: none

[docs] docs/guides: Add new Templates guide
  data/migratedPages.yml
  docs/guides/templates/index.md
  general/releases/2.9.md
  general/releases/3.0.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Developer update for 4.0
  data/migratedPages.yml
  docs/devupdate.md
  project-words.txt
  sidebars/docs.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Modify the doc footer to float
  src/css/custom.css
Due: stylelint --allow-empty-input --fix

[repo] Perform mdlint-all after migrating pages
  scripts/wikimedia-fetch.js
Due: eslint --fix
