Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Fix and re-order redirects
  static/_redirects
Due: none

[repo] Adjust /docs to include next version
  config/navbar.js
  docusaurus.config.js
  nextVersion.js
  src/components/HomepageFeatures/index.js
  src/remark/unversionedDocsLinks.js
  static/_redirects
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Fix incorrectly relative links
  .markdownlint/fix-renamed-links.js
  docs/devupdate.md
  docs/guides/bs5migration/index.md
  general/development/tracker/labels.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add example/tutorial repo mod_nosferatu for reactive library page
  docs/guides/javascript/reactive/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-3947 app: Remove gulp push script
  general/app/development/development-guide.md
  general/app/development/scripts/gulp-push.md
  general/app/development/scripts/index.md
  general/app/development/setup/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-3947: Update default browser config
  general/app/development/setup/app-in-browser.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add instructions for core app tests failures
  general/app/development/testing/continuous-integration.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4470: Add upgrade guides step to release process
  general/development/process-moodleapp/release.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4470: Add troubleshooting scripts advice
  general/app/development/setup/troubleshooting.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4304: Update browser requirements
  general/app/development/setup/app-in-browser.md
  general/app/development/setup/docker-images.md
  general/app/development/setup/troubleshooting.md
  general/app/development/testing/acceptance-testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4470: Add CI documentation
  general/app/development/testing/acceptance-testing.md
  general/app/development/testing/continuous-integration.md
  general/app/development/testing/unit-testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Improve app troubleshooting
  general/app/development/setup/troubleshooting.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4470: Improve LMS CI tips
  general/app/development/testing/continuous-integration.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4470: Declare missing project words
  project-words.txt
Due: none

Update phpcs.md
  general/development/tools/phpcs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document removal of blocking support
  docs/apis/subsystems/task/index.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add working examples and some clarifications to inplace_edit
  docs/apis/subsystems/output/inplace.md
  versioned_docs/version-4.3/apis/subsystems/output/inplace.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Bump the 1 week prior point 13 to actual MRs
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Tidy up examples to meet coding style
  docs/apis/subsystems/communication/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix typos in hooks documentation
  docs/apis/core/hooks/index.md
  versioned_docs/version-4.3/apis/core/hooks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Document available Metadata (MDL-81084)
  docs/devupdate.md
  general/development/tools/metadata/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Globally import a number of React components
  .markdownlint-cli2.cjs
  src/theme/MDXComponents.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

Update the group documentation to reflect geopattern creation
  docs/apis/subsystems/group/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Describe how to use the combobox search dropdown
  docs/apis/subsystems/group/index.md
  docs/guides/javascript/comboboxsearch/examples.md
  docs/guides/javascript/comboboxsearch/index.md
  versioned_docs/version-4.3/devupdate.md
  versioned_docs/version-4.3/guides/javascript/comboboxsearch/examples.md
  versioned_docs/version-4.3/guides/javascript/comboboxsearch/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix markdown issues in devupdate
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 4.4, 4.3.4 and friends
  general/_releases/4033_release_graph.png
  general/_releases/4040_release_graph.png
  general/releases.md
  general/releases/4.1/4.1.10.md
  general/releases/4.2/4.2.7.md
  general/releases/4.3/4.3.4.md
  general/releases/4.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

Update issues to clone for the next release
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

4.4 QA cycle credits
  general/community/credits/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Communication subsystem docs update for MDL-78551
  docs/apis/subsystems/communication/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[data] Release notes now present for minors
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Add new Task APIs documentation
  docs/apis/subsystems/task/adhoc.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Meta enrolment in csv course upload
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Link to 4.4 QA cycle
  general/development/process/testing/qa.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Describe choicedropdown form field
  docs/apis/subsystems/form/fields/_category_.yml
  docs/apis/subsystems/form/fields/choicedropdown.md
  docs/apis/subsystems/form/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add dropzone documentation
  docs/devupdate.md
  docs/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Adding plugins db/install.php path.
  docs/apis/_files/db-install-php.tsx
Due: eslint --fix

[general] document tool_generator features
  general/development/tools/generator.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
