Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

[repo] Address issues with dark mode (fixes #1384)
  src/css/custom.css
Due: stylelint --allow-empty-input --fix

[repo] Bump Docusaurus to 3.8.1
  package.json
  yarn.lock
Due: none

[docs] overview improvements
  docs/apis/plugintypes/mod/courseoverview.md
  docs/apis/subsystems/output/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add notes for MDL-83424
  config/prism.js
  data/projects.json
  docs/devupdate.md
  docs/guides/restructure/index.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d

Update docs/guides/restructure/index.md
  docs/guides/restructure/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/main/components.json
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update reactive index.md
  docs/guides/javascript/reactive/index.md
  versioned_docs/version-4.1/guides/javascript/reactive/index.md
  versioned_docs/version-4.4/guides/javascript/reactive/index.md
  versioned_docs/version-4.5/guides/javascript/reactive/index.md
  versioned_docs/version-5.0/guides/javascript/reactive/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update information for mod/pluginname/index.php
  docs/apis/plugintypes/mod/_files/index-php.mdx
  docs/apis/plugintypes/mod/_files/index-php.tsx
Due: eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

[docs] custom activity chooser footer changes
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[MDL-80945] Update quizaccess page
  data/main/components.json
  docs/apis/plugintypes/quizaccess/_examples/override_rule.md
  docs/apis/plugintypes/quizaccess/_examples/override_rule.php
  docs/apis/plugintypes/quizaccess/_examples/rule.php
  docs/apis/plugintypes/quizaccess/_examples/rule_overridable.md
  docs/apis/plugintypes/quizaccess/_examples/rule_overridable.php
  docs/apis/plugintypes/quizaccess/index.md
  versioned_docs/version-5.0/apis/plugintypes/quizaccess/_examples/override_rule.md
  versioned_docs/version-5.0/apis/plugintypes/quizaccess/_examples/override_rule.php
  versioned_docs/version-5.0/apis/plugintypes/quizaccess/_examples/rule.php
  versioned_docs/version-5.0/apis/plugintypes/quizaccess/_examples/rule_overridable.md
  versioned_docs/version-5.0/apis/plugintypes/quizaccess/_examples/rule_overridable.php
  versioned_docs/version-5.0/apis/plugintypes/quizaccess/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Templates paths to override in a theme
  docs/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add information for behat::execute() context definition
  general/development/tools/behat/writing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Adding release notes for 5.0.2 and friends
  data/versions.json
  general/_releases/5001_release_graph.png
  general/_releases/5002_release_graph.png
  general/releases.md
  general/releases/4.1/4.1.20.md
  general/releases/4.4/4.4.10.md
  general/releases/4.5/4.5.6.md
  general/releases/5.0/5.0.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Corrected 5.1 Postgres min version
  general/releases/5.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Make system requirement bumps clearer in supported versions
  general/releases/4.1.md
  general/releases/4.4.md
  general/releases/4.5.md
  general/releases/5.0.md
  general/releases/5.1.md
  general/releases/5.2.md
  general/releases/5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Allow pages to not use require_login
  docs/apis/subsystems/access.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate unit test docs
  data/migratedPages.yml
  docs/guides/testing/index.md
  general/development/policies/codingstyle/index.md
  general/development/tools/behat/writing.md
  general/development/tools/phpunit/index.md
  general/releases/3.11.md
  general/releases/3.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Tidy up PHPUnit docs
  docs/guides/testing/index.md
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Specify MoodleBot as our UserAgent
  scripts/utils.js
Due: eslint --fix

[docs] Document new externallib_testcase
  docs/apis/subsystems/external/testing.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Activity chooser update
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add additional info to MySQL required version
  general/releases/4.4.md
  general/releases/4.5.md
  general/releases/5.0.md
  general/releases/5.1.md
  general/releases/5.2.md
  general/releases/5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Activity chooser core_courseformat
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-85316 Adding Aurora MySQL version
  general/releases/4.5.md
  general/releases/5.0.md
  general/releases/5.1.md
  general/releases/5.2.md
  general/releases/5.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Comment API
  docs/apis/core/comment/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] activity other purpose documentation
  docs/apis/plugintypes/mod/_files/lib_description.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Remove double word "hook"
  docs/apis/core/hooks/index.md
  versioned_docs/version-4.4/apis/core/hooks/index.md
  versioned_docs/version-5.0/apis/core/hooks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs]Theme overriding examples table
  docs/guides/templates/index.md
  versioned_docs/version-4.1/guides/templates/index.md
  versioned_docs/version-4.4/guides/templates/index.md
  versioned_docs/version-4.5/guides/templates/index.md
  versioned_docs/version-5.0/guides/templates/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add 500 branch to fork update script
  docs/guides/git/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add IAAP membership info and badge to the Accessibility policy page
  general/development/policies/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix link to Moodle QA testing dashboard
  general/development/process/testing/qa.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Enhance Behat writing documentation with specific examples.
  general/development/tools/behat/writing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
