Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Add 4.2 release notes
  data/versions.json
  general/releases.md
  general/releases/4.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Update Moodle Component metadata
  data/libraries.json
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Added 4.1.3 minor release security announcements
  general/releases/3.11/3.11.14.md
  general/releases/3.9/3.9.21.md
  general/releases/4.0/4.0.8.md
  general/releases/4.1/4.1.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

changes to index page info for next meeting and change to the agenda
  general/community/meetings/202305.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Removing Kanban board link additional parameter
  general/community/roadmap.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Final tweaks for 4.2 docs version
  docs/devupdate.md
  sidebars/docs.js
  versioned_docs/version-4.2/intro.md
  versioned_sidebars/version-4.2-sidebars.json
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add integration with zipchat
  docusaurus.config.js
Due: eslint --fix

Update sample MDL issues to be cloned to the latest
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update for 4.0 LMS accessibility accreditation
  general/development/policies/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

v4.2 accessibility app
  general/development/policies/accessibility.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-76136: Add documentation for communication plugin type
  data/master/components.json
  docs/apis/plugintypes/communication/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Mark communication docs as WIP
  docs/apis/plugintypes/communication/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate PHP Profiling docs
  data/migratedPages.yml
  docs/guides/profiling/index.md
  general/development/gettingstarted.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  docs/guides/git/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Moodle 4.2 dev update: give real example of updating a quiz sub-plugin
  versioned_docs/version-4.2/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-74954 add Hooks API docs
  docs/apis.md
  docs/apis/core/hooks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update Profiling docs
  data/migratedPages.yml
  docs/guides/profiling/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update modules.md
  docs/guides/javascript/modules.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-78181: modal AMD documentation
  docs/guides/javascript/_examples/modal.js
  docs/guides/javascript/index.md
  docs/guides/javascript/modal/_examples/events.js
  docs/guides/javascript/modal/_examples/radio.js
  docs/guides/javascript/modal/_examples/usage.js
  docs/guides/javascript/modal/index.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/component-spelling.txt
  data/master/components.json
  data/moodle-contributors.txt
Due: none

[docs] Add more docs for new hooks
  docs/apis/core/hooks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

updated names on agenda
  general/community/meetings/202305.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

docs repeat-elements: Added phpdocs for delete with an example
  docs/apis/subsystems/form/advanced/repeat-elements.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update devupdate.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Composer page
  data/migratedPages.yml
  general/development/tools/composer.md
  general/releases/3.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Report builder API
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/reportbuilder/_index/Actions.jpg
  docs/apis/core/reportbuilder/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

added meeting recording for May, updated index to reflect call for next speaker, created a July page and linked in index.
  general/community/meetings/202305.md
  general/community/meetings/202307.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Additional docs for delayed WS deprecation
  versioned_docs/version-4.2/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate AMD_modals docs
  data/migratedPages.yml
  docs/guides/javascript/modal/index.md
  general/releases/3.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update modal docs for modern moodle
  docs/guides/javascript/modal/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Backport modal docs to 4.1
  versioned_docs/version-4.1/guides/javascript/modal/index.md
  versioned_docs/version-4.2/guides/javascript/modal/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix links to TinyMCE documentation
  docs/apis/plugintypes/tiny/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add dependabot monitoring for yarn and github action dependecies
  .github/dependabot.yml
Due: none

Fix links for task_logs.php, config_changes.php
  docs/apis/core/reportbuilder/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Activity language pack filename
  docs/apis/plugintypes/mod/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
