Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

Heikki's slides
  general/community/meetings/2025/01.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] course format state updates
  docs/apis/plugintypes/format/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Remove monospace formatting for project board
  src/components/ProjectSummary/styles.module.css
Due: stylelint --allow-empty-input --fix

[repo] Add Projects to the main navbar
  config/navbar.js
Due: eslint --fix

[docs] Add information relating to the directory restructure project
  data/projects.json
  general/projects/directoryrestructure/index.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d

[repo] Display multiple issue links in a UL
  src/components/Project/index.ts
  src/components/ProjectSummary/index.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Clarify copyright policy for new files
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix internal links to some tags
  general/development/policies/codingstyle/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add question bank filter API guide
  docs/apis/plugintypes/qbank/filters.md
  docs/apis/plugintypes/qbank/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MDL-83862 Add question bank filter validation documentation
  docs/apis/plugintypes/qbank/filters.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Backport quesiton bank filter docs to 4.3/4.4/4.5
  versioned_docs/version-4.3/apis/plugintypes/qbank/filters.md
  versioned_docs/version-4.3/apis/plugintypes/qbank/index.md
  versioned_docs/version-4.4/apis/plugintypes/qbank/filters.md
  versioned_docs/version-4.4/apis/plugintypes/qbank/index.md
  versioned_docs/version-4.5/apis/plugintypes/qbank/filters.md
  versioned_docs/version-4.5/apis/plugintypes/qbank/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[docs] Fix broken link
  versioned_docs/version-4.3/apis/plugintypes/qbank/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add basic rules for routes
  general/development/policies/routing/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] document plugin/subplugin type deprecation
  docs/apis/plugintypes/index.md
  docs/devupdate.md
  general/development/policies/deprecation/index.md
  general/development/tools/metadata/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Husky installation for Yarn2
  .husky/pre-commit
  package.json
Due: none

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Fix Lightout Audits
  .github/workflows/lighthouse-report.yml
Due: none

[repo] Additional fix on lighthouse
  .github/workflows/lighthouse-report.yml
Due: none

[docs] replace old docs links with their new counterparts
  general/development/process/peer-review/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add notes about plugin removal from core
  general/development/policies/deprecation/plugin-removal.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Describe the versions of Moodle required for upgrades
  general/development/policies/moodle-versions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Reduce duplication and apply style fixes
  docs/apis/plugintypes/index.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 4.5.2 and friends
  data/versions.json
  general/_releases/4051_release_graph.png
  general/_releases/4052_release_graph.png
  general/releases.md
  general/releases/4.1/4.1.16.md
  general/releases/4.3/4.3.10.md
  general/releases/4.4/4.4.6.md
  general/releases/4.5/4.5.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Compliance with moodle.org site policy
  general/community/meetings/2019/07.md
  general/community/plugincontribution/checklist.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Devdocs Bootstrap 5 upgrade
  docs/guides/bs5migration/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix links to obsolete pages
  docs/apis/plugintypes/atto/index.md
  docs/apis/plugintypes/index.md
  general/releases/2.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] fix links to devdocs
  general/development/process/peer-review/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Course overview integration
  docs/apis/plugintypes/mod/courseoverview.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 4.5.2 and friends
  general/releases/4.1/4.1.16.md
  general/releases/4.3/4.3.10.md
  general/releases/4.4/4.4.6.md
  general/releases/4.5/4.5.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Fix unexisting PHPUnit filter test
  general/development/tools/phpunit/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Next meeting date
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
