Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

Page update
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Recording link for September meeting
  general/community/meetings/2024/09.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4616 Include freeze dependencies steps in release process
  general/development/process-moodleapp/release.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/component-spelling.txt
  data/libraries.json
  data/main/components.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update fields.md
  docs/apis/plugintypes/mod_data/fields.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add names of 4.5 QA testers
  general/community/credits/testing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add link to 4.5 QA cycle
  general/development/process/testing/qa.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  docs/apis/subsystems/privacy/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Adding release notes for 4.5, 4.4.4 and friends
  data/versions.json
  general/_releases/4043_release_graph.png
  general/_releases/4050_release_graph.png
  general/releases.md
  general/releases/4.1/4.1.14.md
  general/releases/4.2/4.2.11.md
  general/releases/4.3/4.3.8.md
  general/releases/4.4.md
  general/releases/4.4/4.4.4.md
  general/releases/4.5.md
  nextVersion.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Updates to the release process page as of the 4.5 packaging process
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[data] Revert nextVersion.js until docs version for 4.5
  nextVersion.js
Due: eslint --fix

Add MOODLE_405_STABLE to Bash script
  docs/guides/git/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix the REDIRECT syntax
  general/development/process/release/newuserdocs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Remove docuaction workflow
  .github/workflows/test-deploy.yml
Due: none

[docs] Fix broken links in docs
  docs/apis/plugintypes/ai/placement.md
  docs/guides/javascript/comboboxsearch/index.md
  versioned_docs/version-4.3/guides/javascript/comboboxsearch/index.md
  versioned_docs/version-4.4/guides/javascript/comboboxsearch/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

How to handle privacy providers that only store data in a sub-system
  docs/apis/subsystems/privacy/faq.md
  versioned_docs/version-4.1/apis/subsystems/privacy/faq.md
  versioned_docs/version-4.2/apis/subsystems/privacy/faq.md
  versioned_docs/version-4.3/apis/subsystems/privacy/faq.md
  versioned_docs/version-4.4/apis/subsystems/privacy/faq.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] AI providers: Add minimal configuration (MDL-83381)
  docs/apis/plugintypes/ai/provider.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[scripts] Add rudimentary version helper
  scripts/version.mjs
Due: eslint --fix

[data] Correct formatting of versions file
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[data] Add next version release information
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Update phpunit supported versions range
  general/development/tools/phpunit.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix filter plugintype main class title
  docs/apis/plugintypes/filter/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 4.4.4 and friends
  general/releases/4.1/4.1.14.md
  general/releases/4.2/4.2.11.md
  general/releases/4.3/4.3.8.md
  general/releases/4.4/4.4.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update Inplace editable docs with new events and template
  docs/apis/subsystems/output/inplace.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix moodle coding style in example for delegated transactions
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Update references to Moodle 5.0
  docs/devupdate.md
  nextVersion.js
  versioned_docs/version-4.5/intro.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add release task for update moodle-plugin-ci test matrix and templates.
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
