Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

[docs] Migrate admin settings page
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/settings-php.mdx
  docs/apis/other/admin-settings.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix parameters in table prefix example
  docs/apis/core/dml/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

small text improvement in sample implementation of mod_myplugin_pluginfile
  docs/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

small revert to previous sample implementation of mod_myplugin_pluginfile
  docs/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] reverting to naming DAY_SECS
  docs/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[Docs] fixed minor typos in the sample implementation of mod_myplugin_pluginfile (#326)
  docs/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate admin settings page
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/settings-php.mdx
  docs/apis/subsystems/tool/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix link to filter from admin tool docs
  docs/apis/subsystems/tool/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Move admin settings to correct location
  .markdownlint-cli2.cjs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/_files/settings-php.mdx
  docs/apis/subsystems/admin/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump to Docusaurus 2.0
  package.json
  yarn.lock
Due: none

[repo] Bump to Docusaurus 2.0 (#330)
  package.json
  yarn.lock
Due: none

[docs] Fixing an error on deprecating a parameter doc
  general/development/policies/deprecation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add agreement for the class deprecation
  general/development/policies/deprecation.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

Fix typos and grammar
  docs/apis/plugintypes/blocks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Normalise slugs when syncing with Wikimedia
  scripts/utils.js
Due: eslint --fix

[repo] Normalise slug leading slash in migrated docs
  data/migratedPages.yml
Due: none

Fix typos and grammar
  docs/apis/subsystems/output.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix comma placement
  docs/apis/subsystems/output.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

[docs] Updates for 403 minor release
  data/versions.json
  general/_releases/402_release_graph.png
  general/_releases/403_release_graph.png
  general/releases.md
  general/releases/3.11/3.11.9.md
  general/releases/3.9/3.9.16.md
  general/releases/4.0/4.0.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] 403 minors: Add security fixes and improvements
  general/releases/3.11/3.11.9.md
  general/releases/3.9/3.9.16.md
  general/releases/4.0/4.0.3.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add clarification around writing testing instructions to enable plugins/settings
  general/development/process/testing/guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Re-add section from the old version of this page, which specified that the YYYYMMDD part of a plugin version is to be frozen at the fork date.
  docs/apis/commonfiles/version.php/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  docs/apis/commonfiles/db-tasks.php/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] 41 release: Updated release date and graph
  data/versions.json
  general/_releases/403_release_graph.png
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Updated information about the next meeting
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Updates for 404 minor release
  data/versions.json
  general/_releases/403_release_graph.png
  general/_releases/404_release_graph.png
  general/releases.md
  general/releases/3.11/3.11.10.md
  general/releases/3.9/3.9.17.md
  general/releases/4.0/4.0.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

Remove step from minors, it only applies to majors
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix typos
  docs/apis/plugintypes/filter/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix incorrect slug
  data/migratedPages.yml
Due: none

[chore] Stop some workflows running on all clones
  .github/workflows/fetch-obsolete-pages.yml
  .github/workflows/label-new-issues.yml
  .github/workflows/update-moodle-metadata.yml
  .github/workflows/update-wikimedia.yml
Due: none

[repo] Bump to Docusaurus 2.1
  package.json
  yarn.lock
Due: none

[docs] Migrate Activity Completion API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/activitycompletion/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Advanced Grading API docs
  data/migratedPages.yml
  docs/apis.md
  docs/apis/core/grading/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Improve quality of Advanced Grading API docs
  docs/apis/core/grading/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix
