Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Bump dependencies to latest versions where possible
  .markdownlint-cli2.cjs
  .markdownlint/cased-words.js
  .markdownlint/fix-renamed-links.js
  package.json
  yarn.lock
Due: eslint --fix

[repo] Enable cspell across the workspace
  .vscode/settings.json
Due: none

[repo] Fix broken sidebar build
  sidebars/releaseNotes.js
Due: eslint --fix

Update index.mdx
  docs/apis/plugintypes/mod/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress

[repo] Update Moodle Component metadata
  data/moodle-contributors.txt
Due: none

[docs] Add missing January release date info for minors
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Point to the latest release
  sidebars/docs.js
Due: eslint --fix

[docs] Migrate YUI index doc
  data/migratedPages.yml
  docs/apis/_files/yui-dir.mdx
  docs/guides/javascript/yui/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate YUI/Modules docs
  data/migratedPages.yml
  docs/apis/_files/yui-dir.mdx
  docs/guides/javascript/yui/modules.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update YUI/Namespacing
  docs/guides/javascript/yui/namespacing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate YUI/Namespacing
  data/migratedPages.yml
  docs/guides/javascript/yui/namespacing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update YUI/Modules
  docs/guides/javascript/yui/modules.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Remove legacy YUI references
  docs/guides/javascript/yui/index.md
  docs/guides/javascript/yui/modules.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Remove Shifter references
  docs/guides/javascript/yui/modules.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Activity chooser docs
  data/migratedPages.yml
  docs/apis/plugintypes/mod/_activitymodule/activity-chooser-info.png
  docs/apis/plugintypes/mod/_activitymodule/activity-chooser-recommend.png
  docs/apis/plugintypes/mod/_activitymodule/activity-chooser-starred.png
  docs/apis/plugintypes/mod/activitymodule.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update Activity chooser docs with project status
  docs/apis/plugintypes/mod/activitymodule.md
  project-words.txt
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate AJAX docs
  data/migratedPages.yml
  docs/guides/javascript/ajax/index.md
  general/releases/1.7.md
  general/releases/2.9.md
  general/releases/3.0.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update js/ajax docs
  docs/guides/javascript/ajax/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add date data for the 4.2 release
  data/versions.json
Due: yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

Typo and markup error
  docs/apis/commonfiles/version.php/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate JS/Modules docs
  data/migratedPages.yml
  docs/apis/_files/amd-dir.mdx
  docs/apis/_files/yui-dir.mdx
  docs/guides/javascript/jquery/index.md
  docs/guides/javascript/modules.md
  docs/guides/templates/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Improve jsmodules docs
  docs/guides/javascript/ajax/index.md
  docs/guides/javascript/modules.md
  docs/guides/javascript/yui/index.md
  general/development/tools/nodejs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix YUI import declaration
  docs/guides/javascript/yui/index.md
  docs/guides/javascript/yui/modules.md
  docs/guides/javascript/yui/namespacing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update eslint to ignore versioned_docs as appropriate
  .eslintrc.js
Due: eslint --fix

[repo] Add version selector
  config/navbar.js
Due: eslint --fix

[docs] Tweak landing pages
  docs/intro.md
  versioned_docs/version-4.1/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Remind about also unholding CLR issues
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Only show version dropdown in versioned docs
  src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

More on good comments
  general/development/abc/comments.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Moodle App 4.0.2 release info
  general/app_releases.md
  general/app_releases/v4/v4.0.2.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Database Schema
  data/migratedPages.yml
  docs/apis/core/dml/database-schema.md
  general/development/abc/faq.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] mongo-php-library update to 1.15.0
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Database Schema
  data/migratedPages.yml
  docs/apis/core/dml/database-schema.md
  general/development/abc/faq.md
  versioned_docs/version-4.1/apis/core/dml/database-schema.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Clarify required AMOS changes following release
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add 4.1 LTS details
  general/releases.md
  general/releases/4.1.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Format Moodle App titles
  general/app/accessibility.md
  general/app/customisation/remote-themes.md
  general/app/development/development-guide.md
  general/app/development/link-handling/app-links.md
  general/app/development/link-handling/deep-linking.md
  general/app/development/plugins-development-guide/index.md
  general/app/development/plugins-development-guide/troubleshooting.md
  general/app/development/release-process.md
  general/app/development/setup/docker-images.md
  general/app/upgrading/plugins-upgrade-guide.md
  general/app/upgrading/remote-themes-upgrade-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
