Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

.lintstagedrc.json:

{
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.mdx": [
    "markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs",
    "cspell --no-must-find-files --no-progress"
  ],
  "*.md": [
    "markdownlint-cli2-fix",
    "cspell --no-must-find-files --no-progress"
  ],
  "src/**/*.{js,jsx,ts,tsx,mjs}": [
    "cspell --no-must-find-files --no-progress"
  ],
  "data/projects.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d"
   ],
  "data/versions.json": [
    "yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d"
  ]
}

[docs] Add docs on usage of PSR-20 \core\clock
  docs/apis/core/clock/index.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix some errors on hooks api page
  docs/apis/core/hooks/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Missing =
  docs/apis/core/di/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update Moodle Component metadata
  data/libraries.json
  data/moodle-contributors.txt
  general/community/credits/thirdpartylibs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Clarified documentation for string output functions.
  docs/apis/subsystems/output/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Changed param parameter to para for the format_text function.
  docs/apis/subsystems/output/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Improved docs for s() and p() for clarity.
  docs/apis/subsystems/output/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add information about Mermaid to contributing.md
  general/documentation/contributing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add note about Legacy cron removal
  docs/apis/subsystems/task/index.md
  versioned_docs/version-4.3/apis/subsystems/task/index.md
  versioned_docs/version-4.3/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add release meta-data for Moodle 4.4
  data/versions.json
  general/releases.md
  general/releases/4.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[docs] Correct version name in docs/intro
  docs/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fix typo
  docs/guides/javascript/modules.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Declare PHP 8.3 supported
  general/development/policies/php.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Only reference current versions
  general/development/tools/mdk.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Export vars in markdown
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/format/migration.md
  versioned_docs/version-4.1/apis/plugintypes/format/index.md
  versioned_docs/version-4.1/apis/plugintypes/format/migration.md
  versioned_docs/version-4.2/apis/plugintypes/format/index.md
  versioned_docs/version-4.2/apis/plugintypes/format/migration.md
  versioned_docs/version-4.3/apis/plugintypes/format/index.md
  versioned_docs/version-4.3/apis/plugintypes/format/migration.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Leave a line between jsx and mdx
  docs/apis/plugintypes/customfield/index.md
  general/development/policies/php.md
  versioned_docs/version-4.1/apis/plugintypes/customfield/index.md
  versioned_docs/version-4.2/apis/plugintypes/customfield/index.md
  versioned_docs/version-4.3/apis/plugintypes/customfield/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Do not use JS comments in the middle of a react component
  docs/apis/plugintypes/enrol/index.md
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/repository/index.md
  versioned_docs/version-4.1/apis/plugintypes/enrol/index.md
  versioned_docs/version-4.1/apis/plugintypes/format/index.md
  versioned_docs/version-4.1/apis/plugintypes/repository/index.md
  versioned_docs/version-4.2/apis/plugintypes/enrol/index.md
  versioned_docs/version-4.2/apis/plugintypes/format/index.md
  versioned_docs/version-4.2/apis/plugintypes/repository/index.md
  versioned_docs/version-4.3/apis/plugintypes/enrol/index.md
  versioned_docs/version-4.3/apis/plugintypes/format/index.md
  versioned_docs/version-4.3/apis/plugintypes/repository/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Do not use curly braces in markdown
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/repository/index.md
  docs/guides/javascript/index.md
  versioned_docs/version-4.1/apis/plugintypes/format/index.md
  versioned_docs/version-4.1/apis/plugintypes/repository/index.md
  versioned_docs/version-4.1/guides/javascript/index.md
  versioned_docs/version-4.2/apis/plugintypes/format/index.md
  versioned_docs/version-4.2/apis/plugintypes/repository/index.md
  versioned_docs/version-4.2/guides/javascript/index.md
  versioned_docs/version-4.3/apis/plugintypes/format/index.md
  versioned_docs/version-4.3/apis/plugintypes/repository/index.md
  versioned_docs/version-4.3/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Do not use gfm autolink
  docs/apis/plugintypes/repository/index.md
  versioned_docs/version-4.1/apis/plugintypes/repository/index.md
  versioned_docs/version-4.2/apis/plugintypes/repository/index.md
  versioned_docs/version-4.3/apis/plugintypes/repository/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Third-party library generator should not use gfm autolinks
  general/community/credits/thirdpartylibs.md
  scripts/librarian.mjs
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix various MDX issues
  docs/apis/subsystems/favourites/index.md
  docs/guides/upgrade/index.md
  docs/intro.md
  general/app/development/development-guide.md
  general/app_releases/v2/v2.0.md
  general/app_releases/v2/v2.2.md
  general/app_releases/v2/v2.3.md
  general/development/tools/mdk.md
  general/releases.md
  general/releases/3.10/3.10.5.md
  general/releases/3.11/3.11.1.md
  general/releases/3.8.md
  general/releases/3.9/3.9.8.md
  general/releases/4.0/4.0.6.md
  general/releases/4.1/4.1.1.md
  versioned_docs/version-4.1/apis/subsystems/favourites/index.md
  versioned_docs/version-4.1/devupdate.md
  versioned_docs/version-4.1/guides/upgrade/index.md
  versioned_docs/version-4.2/apis/subsystems/favourites/index.md
  versioned_docs/version-4.2/guides/upgrade/index.md
  versioned_docs/version-4.3/apis/subsystems/favourites/index.md
  versioned_docs/version-4.3/guides/upgrade/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update remark plugins for mdx2
  src/remark/moodleBanner.js
  src/remark/trackerLinks.js
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Do not use gfm autolinks
  general/app/development/link-handling/deep-linking.md
  general/app/development/plugins-development-guide/index.md
  general/app/development/scripts/gulp-push.md
  general/app/upgrading/plugins-upgrade-guide.md
  general/app_releases/v1.x.md
  general/app_releases/v2/v2.8.md
  general/app_releases/v3/v3.1.3.md
  general/app_releases/v3/v3.2.0.md
  general/app_releases/v3/v3.2.1.md
  general/app_releases/v3/v3.3.0.md
  general/app_releases/v3/v3.4.0.md
  general/app_releases/v3/v3.4.1.md
  general/app_releases/v4/v4.0.0.md
  general/community/plugincontribution/guardians/index.md
  general/development/policies/security/crosssite-request-forgery.md
  general/development/policies/security/sql-injection.md
  general/development/process/testing/guide.md
  general/development/process/triage.md
  general/development/tools/nodejs.md
  general/development/tracker/guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update to Docusaurus 3
  config/prism.js
  docusaurus.config.js
  package.json
  yarn.lock
Due: eslint --fix

[repo] Bump NodeJS version
  .github/workflows/fetch-obsolete-pages.yml
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/test-deploy.yml
  .github/workflows/update-moodle-metadata.yml
  .github/workflows/update-wikimedia.yml
Due: none

[repo] Bump yarn
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

[repo] Fix mobile navbar issues
  config/navbar.js
  src/theme/Navbar/Logo/index.js
  src/theme/Navbar/index.js
  src/theme/Navbar/index.module.css
Due: stylelint --allow-empty-input --fix, eslint --fix, cspell --no-must-find-files --no-progress

[repo] Bump mdlint
  .lintstagedrc.mjs
  .markdownlint-cli2.cjs
  docs/apis/plugintypes/assign/feedback.md
  docs/apis/plugintypes/assign/submission.md
  docs/apis/plugintypes/atto/index.md
  docs/apis/plugintypes/repository/index.md
  package.json
  scripts/releases/fetchReleaseNotes.sh
  scripts/wikimedia-fetch.mjs
  yarn.lock
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump cspell
  general/app_releases/v4/v4.3.0.md
  general/contentguidelines/01-productwriting/emptystates.md
  package.json
  project-words.txt
  yarn.lock
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] MDX is not supported in React inline vars
  docs/apis/_files/db-upgrade-php.mdx
  docs/apis/_files/lib.mdx
  docs/apis/_files/locallib.mdx
  docs/apis/_files/upgrade-php.mdx
  docs/apis/plugintypes/mod/_files/access_description.md
  docs/apis/plugintypes/mod/_files/install_description.md
  docs/apis/plugintypes/mod/_files/lib_description.md
  docs/apis/plugintypes/mod/index.mdx
  general/releases/4.3/4.3.3.md
  versioned_docs/version-4.1/apis/plugintypes/mod/_files/access_description.md
  versioned_docs/version-4.1/apis/plugintypes/mod/_files/install_description.md
  versioned_docs/version-4.1/apis/plugintypes/mod/_files/lib_description.md
  versioned_docs/version-4.1/apis/plugintypes/mod/index.mdx
  versioned_docs/version-4.2/apis/plugintypes/mod/_files/access_description.md
  versioned_docs/version-4.2/apis/plugintypes/mod/_files/install_description.md
  versioned_docs/version-4.2/apis/plugintypes/mod/_files/lib_description.md
  versioned_docs/version-4.2/apis/plugintypes/mod/index.mdx
  versioned_docs/version-4.3/apis/plugintypes/mod/_files/access_description.md
  versioned_docs/version-4.3/apis/plugintypes/mod/_files/install_description.md
  versioned_docs/version-4.3/apis/plugintypes/mod/_files/lib_description.md
  versioned_docs/version-4.3/apis/plugintypes/mod/index.mdx
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump all workflows
  .github/workflows/fetch-obsolete-pages.yml
  .github/workflows/lighthouse-report.yml
  .github/workflows/lint-pr.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/test-deploy.yml
  .github/workflows/update-moodle-metadata.yml
  .github/workflows/update-wikimedia.yml
Due: none

[docs] Fix broken links
  docs/apis/plugintypes/blocks/index.md
  docs/apis/plugintypes/enrol/index.md
  docs/apis/plugintypes/repository/index.md
  docs/apis/subsystems/admin/index.md
  general/app/development/plugins-development-guide/index.md
  general/app/development/setup/index.md
  general/development/policies/codingstyle/index.md
  general/development/policies/security/index.md
  general/development/process.md
  general/development/process/release/index.md
  general/development/tools/nodejs.md
  general/releases/2.8.md
  general/releases/3.1.md
  general/releases/3.5.md
  versioned_docs/version-4.1/apis/_files/db-upgrade-php.mdx
  versioned_docs/version-4.1/apis/_files/lib.mdx
  versioned_docs/version-4.1/apis/_files/locallib.mdx
  versioned_docs/version-4.1/apis/_files/upgrade-php.mdx
  versioned_docs/version-4.1/apis/plugintypes/blocks/index.md
  versioned_docs/version-4.1/apis/plugintypes/repository/index.md
  versioned_docs/version-4.1/apis/subsystems/admin/index.md
  versioned_docs/version-4.2/apis/_files/db-upgrade-php.mdx
  versioned_docs/version-4.2/apis/_files/lib.mdx
  versioned_docs/version-4.2/apis/_files/locallib.mdx
  versioned_docs/version-4.2/apis/_files/upgrade-php.mdx
  versioned_docs/version-4.2/apis/plugintypes/blocks/index.md
  versioned_docs/version-4.2/apis/plugintypes/repository/index.md
  versioned_docs/version-4.2/apis/subsystems/admin/index.md
  versioned_docs/version-4.3/apis/_files/db-upgrade-php.mdx
  versioned_docs/version-4.3/apis/_files/lib.mdx
  versioned_docs/version-4.3/apis/_files/locallib.mdx
  versioned_docs/version-4.3/apis/_files/upgrade-php.mdx
  versioned_docs/version-4.3/apis/plugintypes/blocks/index.md
  versioned_docs/version-4.3/apis/plugintypes/repository/index.md
  versioned_docs/version-4.3/apis/subsystems/admin/index.md
Due: markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Fix existing linting issues
  docs/apis/plugintypes/format/index.md
  docs/apis/plugintypes/format/migration.md
  docs/apis/subsystems/access.md
  general/app_releases.md
  general/development/policies/codingstyle/frankenstyle.md
  versioned_docs/version-4.1/apis/plugintypes/format/index.md
  versioned_docs/version-4.1/apis/plugintypes/format/migration.md
  versioned_docs/version-4.1/apis/subsystems/access.md
  versioned_docs/version-4.2/apis/plugintypes/format/index.md
  versioned_docs/version-4.2/apis/plugintypes/format/migration.md
  versioned_docs/version-4.2/apis/subsystems/access.md
  versioned_docs/version-4.3/apis/plugintypes/format/index.md
  versioned_docs/version-4.3/apis/plugintypes/format/migration.md
  versioned_docs/version-4.3/apis/subsystems/access.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Fix spellings
  docs/apis/plugintypes/qtype/index.md
  docs/apis/plugintypes/qtype/newquestiondefaults.md
  docs/apis/subsystems/question/index.md
  docs/guides/bs5migration/index.md
  general/documentation/contributing.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update releases.md
  general/releases.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Correct md fix commands for new commands
  package.json
Due: none

[repo] Fix missing margin on left-most menu item
  src/css/custom.css
Due: stylelint --allow-empty-input --fix

[repo] Support cloudflare builds
  docusaurus.config.js
Due: eslint --fix

[repo] Adjust /docs to include next version
  .markdownlint/fix-renamed-links.js
  config/navbar.js
  docs/devupdate.md
  docs/guides/bs5migration/index.md
  docusaurus.config.js
  general/development/tracker/labels.md
  nextVersion.js
  src/components/HomepageFeatures/index.js
  src/remark/unversionedDocsLinks.js
  static/_redirects
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add docusaurus cache
  .github/workflows/test-deploy.yml
Due: none
