Repository moodle/devdocs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --allow-empty-input --fix, eslint --fix, markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix, yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[general] Migrate Developer_meeting_April_2021
  data/migratedPages.yml
  general/community/meetings/2021/04.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Migrate Developer_meeting_October_2021
  data/migratedPages.yml
  general/community/meetings/2021/10.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Migrate GlobalMoot_DevJam_Unconference_November_2019
  data/migratedPages.yml
  general/community/meetings/2018/global_devjam.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Migrate Developer_meeting_December_2018
  data/migratedPages.yml
  general/community/meetings/2018/12.md
  general/community/meetings/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[general] Migrate Acceptance_testing/Contributing_automated_tests
  data/migratedPages.yml
  general/development/process/testing/qa.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

test lables
  general/development/tracker/labels.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Migrate Writing PHPUnit tests
  data/migratedPages.yml
  general/development/policies/codingstyle/index.md
  general/development/tools/behat/writing.md
  general/development/tools/phpunit.md
  general/development/tools/phpunit/write.md
  general/releases/3.11.md
  general/releases/3.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Update list of obsolete pages
  data/obsoletePages.json
Due: none

MOBILE-3862: Update plugins documentation
  general/app/_files/Templates_downloaded_on_login.png
  general/app/_files/Templates_downloaded_when_requested.png
  general/app/_files/dynamic_templates.jpg
  general/app/_files/static_templates.jpg
  general/app/development/link-handling/app-links.md
  general/app/development/link-handling/deep-linking.md
  general/app/development/link-handling/notification-links.md
  general/app/development/network-debug.md
  general/app/development/plugins-development-guide/api-reference.md
  general/app/development/plugins-development-guide/examples/course-formats.md
  general/app/development/plugins-development-guide/examples/course-modules.md
  general/app/development/plugins-development-guide/examples/create-course-formats.md
  general/app/development/plugins-development-guide/examples/dynamic-names.md
  general/app/development/plugins-development-guide/examples/forms.md
  general/app/development/plugins-development-guide/examples/groups-selector.md
  general/app/development/plugins-development-guide/examples/index.md
  general/app/development/plugins-development-guide/examples/link-handlers.md
  general/app/development/plugins-development-guide/examples/prefetch-handlers.md
  general/app/development/plugins-development-guide/examples/question-types.md
  general/app/development/plugins-development-guide/examples/self-enrolment.md
  general/app/development/plugins-development-guide/index.md
  general/app/development/plugins-development-guide/troubleshooting.md
  general/app/development/setup/docker-images.md
  general/app/development/testing/acceptance-testing.md
  general/app/upgrading/plugins-upgrade-guide.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Use the nextVersion from config in version dropdown
  docusaurus.config.js
Due: eslint --fix

[docs] Update references to Moodle 4.5
  docs/devupdate.md
  docs/intro.md
  nextVersion.js
  versioned_docs/version-4.4/intro.md
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Bump to Docusaurus 3.3.2
  package.json
  yarn.lock
Due: none

[docs] Document the procedure for forking the dev docs
  general/development/process/release/index.md
  general/documentation/forking-versions.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Show next version number alongside branch name in dropdown
  docusaurus.config.js
Due: eslint --fix

[general] Ordering change in release process
  general/development/process/release/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

MOBILE-4470: Fix TODO example
  general/development/process-moodleapp/release.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Create 2024/05 meeting
  general/community/meetings/2024/05.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Update 2024/05 agenda with more detail
  general/community/meetings/2024/05.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add notes about writing upgrade notes
  general/development/upgradenotes.md
  sidebars/general.js
Due: eslint --fix, cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add example for the behat generators tool
  general/development/tools/generator.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[repo] Add support for code freeze in version docs
  data/versions.json
  src/utils/SupportedReleases.ts
  static/schema/versions.json
Due: eslint --fix, cspell --no-must-find-files --no-progress, yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d

[repo] Add ReleaseStateSummary Component
  .markdownlint-cli2.cjs
  src/components/ReleaseStateSummary/index.tsx
Due: eslint --fix, cspell --no-must-find-files --no-progress

[docs] Add release summary to intro pages
  docs/intro.md
  versioned_docs/version-4.1/intro.md
  versioned_docs/version-4.2/intro.md
  versioned_docs/version-4.3/intro.md
  versioned_docs/version-4.4/intro.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Added missing commas
  docs/apis/subsystems/files/index.md
  versioned_docs/version-4.1/apis/subsystems/files/index.md
  versioned_docs/version-4.2/apis/subsystems/files/index.md
  versioned_docs/version-4.3/apis/subsystems/files/index.md
  versioned_docs/version-4.4/apis/subsystems/files/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add security announcements to 4.3.4 and friends
  general/releases/4.1/4.1.10.md
  general/releases/4.2/4.2.7.md
  general/releases/4.3/4.3.4.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  versioned_docs/version-4.4/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  versioned_docs/version-4.4/guides/git/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  versioned_docs/version-4.2/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  versioned_docs/version-4.3/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  versioned_docs/version-4.1/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Add ' to create valid JS on selectors
  docs/guides/javascript/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Update index.md
  docs/guides/javascript/modal/index.md
  versioned_docs/version-4.1/guides/javascript/modal/index.md
  versioned_docs/version-4.2/guides/javascript/modal/index.md
  versioned_docs/version-4.3/guides/javascript/modal/index.md
  versioned_docs/version-4.4/guides/javascript/modal/index.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add documentation for new SMS API
  docs/apis/subsystems/sms/index.md
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Fixing typo.
  general/development/tools/nodejs.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Added bbb link for 202405 meeting
  general/community/meetings/2024/05.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Add to 202405 community meeting agenda
  general/community/meetings/2024/05.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

[docs] Explain changes done in reset course page
  docs/devupdate.md
Due: cspell --no-must-find-files --no-progress, markdownlint-cli2-fix

Path conditions:
  stylelint --allow-empty-input --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  markdownlint-cli2-config .markdownlint/mdx/fix/.markdownlint-cli2.cjs: any of: *.mdx
  cspell --no-must-find-files --no-progress: ((any of: *.mdx) or (any of: *.md)) or (any of: src/**/*.{js,jsx,ts,tsx,mjs})
  markdownlint-cli2-fix: any of: *.md
  yarn ajv --spec=draft2019 validate -s static/schema/projects.json -d: any of: data/projects.json
  yarn ajv --spec=draft2019 validate -s static/schema/versions.json -d: any of: data/versions.json
